evtAltContratual.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns="http://www.esocial.gov.br/schema/evt/evtAltContratual/v01_00_00" targetNamespace="http://www.esocial.gov.br/schema/evt/evtAltContratual/v01_00_00" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:include schemaLocation="include/ideEvento_trab.xsd " />
    <xs:include schemaLocation="include/ideEmpregador_evtTab.xsd" />
    <xs:include schemaLocation="include/ideVinculo.xsd" />
    <xs:include schemaLocation="include/remuneracao.xsd" />
    <xs:include schemaLocation="include/localTrabalho.xsd" />
    <xs:include schemaLocation="include/endereco.xsd" />
    <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd" />
    <xs:element name="eSocial">
        <xs:annotation>
            <xs:documentation>S-2206 - Alteração de Contrato de Trabalho/Relação Estatutária</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="evtAltContratual">
                    <xs:annotation>
                        <xs:documentation>Evento Alteração Contratual</xs:documentation>
                        <xs:documentation>REGRA:REGRA_ADMISSAO_VALIDA_DURACAO_CONTRATO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_ALTERA_CATEG</xs:documentation>
                        <xs:documentation>REGRA:REGRA_ENVIO_PROC_FECHAMENTO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_EVENTOS_EXTEMP</xs:documentation>
                        <xs:documentation>REGRA:REGRA_EXISTE_INFO_EMPREGADOR</xs:documentation>
                        <xs:documentation>REGRA:REGRA_EXTEMP_REINTEGRACAO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_GERAL_VALIDA_DADOS_TABCONTRIB</xs:documentation>
                        <xs:documentation>REGRA:REGRA_RETIFICA_MESMO_VINCULO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_VALIDA_TRABALHADOR_BASE_CPF</xs:documentation>
                        <xs:documentation>REGRA:REGRA_VINCULO_ATIVO_NA_DTEVENTO</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ideEvento" type="T_ideEvento_trab" />
                            <xs:element name="ideEmpregador" type="T_ideEmpregador_evtTab" />
                            <xs:element name="ideVinculo" type="T_ideVinculo">
                                <xs:annotation>
                                    <xs:documentation>Informações de Identificação do Trabalhador e do Vínculo</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="altContratual">
                                <xs:annotation>
                                    <xs:documentation>Informações do Contrato de Trabalho</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="dtAlteracao" type="xs:date">
                                            <xs:annotation>
                                                <xs:documentation>Data da Alteração</xs:documentation>
                                                <xs:documentation>Validação: Não pode ser posterior a 180 (cento e oitenta) dias da data atual.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="dtEf" type="xs:date" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation>Data dos efeitos</xs:documentation>
                                                <xs:documentation>Se a alteração foi fruto de lei, acordo coletivo, convenção coletiva ou sentença normativa, informar a data a partir da qual a alteração produz efeitos remuneratórios.</xs:documentation>
                                                <xs:documentation>Validação: Deve ser uma data válida, igual ou posterior à data de admissão.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="dscAlt" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:annotation>
                                                    <xs:documentation>Descrição da alteração</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:string">
                                                    <xs:minLength value="2" />
                                                    <xs:maxLength value="150" />
                                                    <xs:pattern value=".*[^\s].*" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="vinculo">
                                            <xs:annotation>
                                                <xs:documentation>Informações do vinculo</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="tpRegPrev">
                                                        <xs:simpleType>
                                                            <xs:annotation>
                                                                <xs:documentation>Regime previdenciário</xs:documentation>
                                                                <xs:documentation>Validação: Se {codCateg} = [104], deve ser preenchido com [1]. Se {codCateg} = [101, 102, 103, 105, 106, 107, 108, 111], não pode ser preenchido com [2].</xs:documentation>
                                                            </xs:annotation>
                                                            <xs:restriction base="xs:byte">
                                                                <xs:enumeration value="1">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Regime Geral da Previdência Social - RGPS</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:enumeration>
                                                                <xs:enumeration value="2">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Regime Próprio de Previdência Social - RPPS ou regime dos militares</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:enumeration>
                                                                <xs:enumeration value="3">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Regime de Previdência Social no Exterior</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:enumeration>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="infoRegimeTrab">
                                            <xs:annotation>
                                                <xs:documentation>Informações do regime trabalhista</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="infoCeletista" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>Informações de Trabalhador Celetista</xs:documentation>
                                                            <xs:documentation>CONDICAO_GRUPO: O (se {tpRegTrab} indicado no evento S-2200 = [1]); N (nos demais casos)</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="tpRegJor">
                                                                    <xs:simpleType>
                                                                        <xs:annotation>
                                                                            <xs:documentation>Regime de jornada do empregado</xs:documentation>
                                                                        </xs:annotation>
                                                                        <xs:restriction base="xs:byte">
                                                                            <xs:enumeration value="1">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Submetidos a Horário de Trabalho (Cap. II da CLT)</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>
                                                                            <xs:enumeration value="2">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Atividade Externa especificada no Inciso I do Art. 62 da CLT</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>
                                                                            <xs:enumeration value="3">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Funções especificadas no Inciso II do Art. 62 da CLT</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>
                                                                            <xs:enumeration value="4">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Teletrabalho, previsto no Inciso III do Art. 62 da CLT</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="natAtividade">
                                                                    <xs:simpleType>
                                                                        <xs:annotation>
                                                                            <xs:documentation>Natureza da atividade</xs:documentation>
                                                                            <xs:documentation>Validação: Se {codCateg} = [104], deve ser preenchido com [1]. Se {codCateg} = [102], deve ser preenchido com [2].</xs:documentation>
                                                                        </xs:annotation>
                                                                        <xs:restriction base="xs:byte">
                                                                            <xs:enumeration value="1">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Trabalho Urbano</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>
                                                                            <xs:enumeration value="2">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Trabalho Rural</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="dtBase" minOccurs="0">
                                                                    <xs:simpleType>
                                                                        <xs:annotation>
                                                                            <xs:documentation>Mês relativo à data base da categoria profissional do trabalhador</xs:documentation>
                                                                            <xs:documentation>Validação: Se informado, deve ser maior ou igual a 1 e menor ou igual a 12.</xs:documentation>
                                                                        </xs:annotation>
                                                                        <xs:restriction base="xs:byte">
                                                                            <xs:pattern value="\d{1,2}" />
                                                                            <xs:minInclusive value="1" />
                                                                            <xs:maxInclusive value="12" />
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="cnpjSindCategProf">
                                                                    <xs:simpleType>
                                                                        <xs:annotation>
                                                                            <xs:documentation>Preencher com o CNPJ do sindicato representativo da categoria (Preponderante ou Diferenciada)</xs:documentation>
                                                                            <xs:documentation>Validação: Deve ser um CNPJ válido, com 14 (catorze) algarismos.</xs:documentation>
                                                                        </xs:annotation>
                                                                        <xs:restriction base="xs:string">
                                                                            <xs:pattern value="\d{14}" />
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="trabTemp" minOccurs="0">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Dados sobre trabalho temporário</xs:documentation>
                                                                        <xs:documentation>CONDICAO_GRUPO: OC (se {codCateg} = [106]); N (nos demais casos)</xs:documentation>
                                                                    </xs:annotation>
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="justProrr">
                                                                                <xs:simpleType>
                                                                                    <xs:annotation>
                                                                                        <xs:documentation>Justificativa da prorrogação</xs:documentation>
                                                                                        <xs:documentation>Descrever a justificativa para a prorrogação do contrato de trabalho temporário.</xs:documentation>
                                                                                    </xs:annotation>
                                                                                    <xs:restriction base="xs:string">
                                                                                        <xs:minLength value="2" />
                                                                                        <xs:maxLength value="999" />
                                                                                        <xs:pattern value=".*[^\s].*" />
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="aprend" minOccurs="0">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Informações relacionadas ao aprendiz</xs:documentation>
                                                                        <xs:documentation>CONDICAO_GRUPO: OC (se {codCateg} = [103]); N (nos demais casos)</xs:documentation>
                                                                    </xs:annotation>
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="tpInsc">
                                                                                <xs:simpleType>
                                                                                    <xs:annotation>
                                                                                        <xs:documentation>Tipo de Inscrição</xs:documentation>
                                                                                        <xs:documentation>Preencher com o código correspondente ao tipo de inscrição, conforme Tabela 05.</xs:documentation>
                                                                                    </xs:annotation>
                                                                                    <xs:restriction base="xs:byte">
                                                                                        <xs:enumeration value="1">
                                                                                            <xs:annotation>
                                                                                                <xs:documentation>CNPJ</xs:documentation>
                                                                                            </xs:annotation>
                                                                                        </xs:enumeration>
                                                                                        <xs:enumeration value="2">
                                                                                            <xs:annotation>
                                                                                                <xs:documentation>CPF</xs:documentation>
                                                                                            </xs:annotation>
                                                                                        </xs:enumeration>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element name="nrInsc">
                                                                                <xs:simpleType>
                                                                                    <xs:annotation>
                                                                                        <xs:documentation>Número de Inscrição</xs:documentation>
                                                                                        <xs:documentation>Informar o número de inscrição do empregador para o qual a contratação de aprendiz foi efetivada, de acordo com o tipo de inscrição indicado no campo {tpInsc}.</xs:documentation>
                                                                                        <xs:documentation>Validação: Deve ser um identificador válido e: a) Se {tpInsc} = [1], deve ser diferente dos estabelecimentos informados na Tabela S-1005, com 14 (catorze) algarismos. Se o empregador for pessoa jurídica, a raiz do CNPJ informado deve ser diferente da raiz do CNPJ do empregador. b) Se {tpInsc} = [2], deve ser diferente do CPF do empregado. Se o empregador for pessoa física, também deve ser diferente do CPF do empregador.</xs:documentation>
                                                                                    </xs:annotation>
                                                                                    <xs:restriction base="xs:string">
                                                                                        <xs:pattern value="\d{11}|\d{14}" />
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="infoEstatutario" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>Informações de Trabalhador Estatutário</xs:documentation>
                                                            <xs:documentation>CONDICAO_GRUPO: O (se {tpRegPrev} = [2] e {tpRegTrab} indicado no evento S-2200 = [2]); N (nos demais casos)</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="tpPlanRP" minOccurs="0">
                                                                    <xs:simpleType>
                                                                        <xs:annotation>
                                                                            <xs:documentation>Tipo de plano de segregação da massa</xs:documentation>
                                                                        </xs:annotation>
                                                                        <xs:restriction base="xs:byte">
                                                                            <xs:enumeration value="0">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Sem segregação da massa</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>
                                                                            <xs:enumeration value="1">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Fundo em capitalização</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>
                                                                            <xs:enumeration value="2">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Fundo em repartição</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>
                                                                            <xs:enumeration value="3">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Mantido pelo Tesouro</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="indTetoRGPS" type="TS_sim_nao" minOccurs="0">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Informar se o servidor está sujeito ao teto do Regime Geral pela instituição do regime de previdência complementar</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="indAbonoPerm" type="TS_sim_nao" minOccurs="0">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Indicar se o servidor recebe abono permanência</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="infoContrato">
                                            <xs:annotation>
                                                <xs:documentation>Informações do Contrato de Trabalho</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="nmCargo" minOccurs="0">
                                                        <xs:simpleType>
                                                            <xs:annotation>
                                                                <xs:documentation>Nome do Cargo</xs:documentation>
                                                                <xs:documentation>Validação: O preenchimento é obrigatório, exceto se for relativo a servidor nomeado em cargo em comissão ({tpRegTrab} = [2] e {tpProv} = [2]).</xs:documentation>
                                                            </xs:annotation>
                                                            <xs:restriction base="xs:string">
                                                                <xs:minLength value="1" />
                                                                <xs:maxLength value="100" />
                                                                <xs:pattern value=".*[^\s].*" />
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="CBOCargo" minOccurs="0">
                                                        <xs:simpleType>
                                                            <xs:annotation>
                                                                <xs:documentation>Classificação Brasileira de Ocupação</xs:documentation>
                                                                <xs:documentation>Validação: Informação obrigatória e exclusiva se {nmCargo} for preenchido. Se informado, deve ser um código existente na tabela de CBO, com 6 (seis) posições.</xs:documentation>
                                                            </xs:annotation>
                                                            <xs:restriction base="xs:string">
                                                                <xs:pattern value="\d{6}" />
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="nmFuncao" minOccurs="0">
                                                        <xs:simpleType>
                                                            <xs:annotation>
                                                                <xs:documentation>Nome da Função de confiança/Cargo em Comissão</xs:documentation>
                                                                <xs:documentation>Validação: Preenchimento obrigatório se for relativo a servidor nomeado em cargo em comissão ({tpRegTrab} = [2] e {tpProv} = [2]).</xs:documentation>
                                                            </xs:annotation>
                                                            <xs:restriction base="xs:string">
                                                                <xs:minLength value="1" />
                                                                <xs:maxLength value="100" />
                                                                <xs:pattern value=".*[^\s].*" />
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="CBOFuncao" minOccurs="0">
                                                        <xs:simpleType>
                                                            <xs:annotation>
                                                                <xs:documentation>Classificação Brasileira de Ocupação</xs:documentation>
                                                                <xs:documentation>Validação: Informação obrigatória e exclusiva se {nmFuncao} for preenchido. Se informado, deve ser um código existente na tabela de CBO, com 6 (seis) posições.</xs:documentation>
                                                            </xs:annotation>
                                                            <xs:restriction base="xs:string">
                                                                <xs:pattern value="\d{6}" />
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="acumCargo" type="TS_sim_nao" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>Indicar se é um cargo acumulável</xs:documentation>
                                                            <xs:documentation>Validação: Preenchimento obrigatório se a natureza jurídica do declarante for igual a [1XXX, 2011, 2038].</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="codCateg">
                                                        <xs:simpleType>
                                                            <xs:annotation>
                                                                <xs:documentation>Código da Categoria</xs:documentation>
                                                                <xs:documentation>Preencher com o código da categoria do trabalhador, conforme Tabela 01.</xs:documentation>
                                                                <xs:documentation>Validação: Deve ser um código válido e existente na Tabela 01.</xs:documentation>
                                                            </xs:annotation>
                                                            <xs:restriction base="xs:integer">
                                                                <xs:pattern value="\d{3}" />
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="remuneracao" type="T_remuneracao" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>Informações da remuneração e periodicidade de pagamento</xs:documentation>
                                                            <xs:documentation>CONDICAO_GRUPO: O (se {tpRegTrab} indicado no evento S-2200 = [1]); N (nos demais casos)</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="duracao" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>Duração do Contrato de Trabalho</xs:documentation>
                                                            <xs:documentation>CONDICAO_GRUPO: O (se {tpRegTrab} indicado no evento S-2200 = [1]); N (nos demais casos)</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="tpContr">
                                                                    <xs:simpleType>
                                                                        <xs:annotation>
                                                                            <xs:documentation>Tipo de contrato</xs:documentation>
                                                                        </xs:annotation>
                                                                        <xs:restriction base="xs:byte">
                                                                            <xs:enumeration value="1">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Prazo indeterminado</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>
                                                                            <xs:enumeration value="2">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Prazo determinado, definido em dias</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>
                                                                            <xs:enumeration value="3">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Prazo determinado, vinculado à ocorrência de um fato</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="dtTerm" type="xs:date" minOccurs="0">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Data do Término</xs:documentation>
                                                                        <xs:documentation>Data do término do contrato por prazo determinado.</xs:documentation>
                                                                        <xs:documentation>Validação: O preenchimento é obrigatório se {tpContr} = [2]. Não informar se {tpContr} = [1]. Se preenchido, deve ser igual ou posterior à data de admissão (no caso de sucessão ou de mudança de CPF, igual ou posterior à data da transferência ou à data de alteração do CPF, respectivamente).</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="objDet" minOccurs="0">
                                                                    <xs:simpleType>
                                                                        <xs:annotation>
                                                                            <xs:documentation>Indicação do objeto determinante da contratação por prazo determinado (obra, serviço, safra, etc.)</xs:documentation>
                                                                            <xs:documentation>Validação: O preenchimento é obrigatório e exclusivo se {tpContr} = [3].</xs:documentation>
                                                                        </xs:annotation>
                                                                        <xs:restriction base="xs:string">
                                                                            <xs:minLength value="2" />
                                                                            <xs:maxLength value="255" />
                                                                            <xs:pattern value=".*[^\s].*" />
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="localTrabalho">
                                                        <xs:annotation>
                                                            <xs:documentation>Informações do local de trabalho</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="localTrabGeral" type="T_localTrabalho" minOccurs="0">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Estabelecimento onde o trabalhador exercerá suas atividades</xs:documentation>
                                                                        <xs:documentation>CONDICAO_GRUPO: O (se {codCateg} diferente de [104, 106]); N (nos demais casos)</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="localTrabDom" type="T_endereco_Brasil" minOccurs="0">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Endereço de trabalho do trabalhador doméstico e trabalhador temporário</xs:documentation>
                                                                        <xs:documentation>CONDICAO_GRUPO: O (se {codCateg} = [104, 106]); N (nos demais casos)</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="horContratual" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>Informações do Horário Contratual do Trabalhador</xs:documentation>
                                                            <xs:documentation>CONDICAO_GRUPO: O (se {tpRegJor} = [1]); OC (nos demais casos)</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="qtdHrsSem" minOccurs="0">
                                                                    <xs:simpleType>
                                                                        <xs:annotation>
                                                                            <xs:documentation>Quantidade média de horas relativas à jornada semanal do trabalhador</xs:documentation>
                                                                            <xs:documentation>Validação: Deve ser preenchido se {codCateg} diferente de [111]. Se preenchido, deve ser maior que zero.</xs:documentation>
                                                                        </xs:annotation>
                                                                        <xs:restriction base="xs:decimal">
                                                                            <xs:totalDigits value="4" />
                                                                            <xs:fractionDigits value="2" />
                                                                            <xs:minExclusive value="0" />
                                                                            <xs:maxInclusive value="99.99" />
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="tpJornada">
                                                                    <xs:simpleType>
                                                                        <xs:annotation>
                                                                            <xs:documentation>Tipo da Jornada</xs:documentation>
                                                                        </xs:annotation>
                                                                        <xs:restriction base="xs:byte">
                                                                            <xs:enumeration value="2">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Jornada 12 x 36 (12 horas de trabalho seguidas de 36 horas ininterruptas de descanso)</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>
                                                                            <xs:enumeration value="3">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Jornada com horário diário fixo e folga variável; 4 - Jornada com horário diário fixo e folga fixa (no domingo)</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>
                                                                            <xs:enumeration value="5">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Jornada com horário diário fixo e folga fixa (exceto no domingo)</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>
                                                                            <xs:enumeration value="6">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Jornada com horário diário fixo e folga fixa (em outro dia da semana), com folga adicional periódica no domingo</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>
                                                                            <xs:enumeration value="7">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Turno ininterrupto de revezamento</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>
                                                                            <xs:enumeration value="9">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Demais tipos de jornada</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="tmpParc">
                                                                    <xs:simpleType>
                                                                        <xs:annotation>
                                                                            <xs:documentation>Contrato de trabalho em regime de tempo parcial</xs:documentation>
                                                                            <xs:documentation>Preencher com o código relativo ao tipo de contrato em tempo parcial.</xs:documentation>
                                                                            <xs:documentation>Validação: O código [1] só é válido se {codCateg} = [104]. Os códigos [2, 3] não são válidos se {codCateg} = [104].</xs:documentation>
                                                                        </xs:annotation>
                                                                        <xs:restriction base="xs:byte">
                                                                            <xs:enumeration value="0">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Não é contrato em tempo parcial</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>
                                                                            <xs:enumeration value="1">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Limitado a 25 horas semanais</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>
                                                                            <xs:enumeration value="2">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Limitado a 30 horas semanais</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>
                                                                            <xs:enumeration value="3">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Limitado a 26 horas semanais</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="horNoturno" type="TS_sim_nao">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Indicar se a jornada semanal possui horário noturno (no todo ou em parte)</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="dscJorn">
                                                                    <xs:simpleType>
                                                                        <xs:annotation>
                                                                            <xs:documentation>Descrição da jornada semanal contratual, contendo os dias da semana e os respectivos horários contratuais (entrada, saída e intervalos)</xs:documentation>
                                                                        </xs:annotation>
                                                                        <xs:restriction base="xs:string">
                                                                            <xs:minLength value="1" />
                                                                            <xs:maxLength value="999" />
                                                                            <xs:pattern value=".*[^\s].*" />
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="alvaraJudicial" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>Dados do Alvará Judicial</xs:documentation>
                                                            <xs:documentation>CONDICAO_GRUPO: OC</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="nrProcJud">
                                                                    <xs:simpleType>
                                                                        <xs:annotation>
                                                                            <xs:documentation>Identificação do Número do Processo Judicial</xs:documentation>
                                                                            <xs:documentation>Validação: Deve ser um número de processo judicial válido.</xs:documentation>
                                                                        </xs:annotation>
                                                                        <xs:restriction base="xs:string">
                                                                            <xs:pattern value="\d{20}" />
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="observacoes" minOccurs="0" maxOccurs="99">
                                                        <xs:annotation>
                                                            <xs:documentation>Observações do contrato de trabalho</xs:documentation>
                                                            <xs:documentation>CONDICAO_GRUPO: OC</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="observacao">
                                                                    <xs:simpleType>
                                                                        <xs:annotation>
                                                                            <xs:documentation>Observação</xs:documentation>
                                                                        </xs:annotation>
                                                                        <xs:restriction base="xs:string">
                                                                            <xs:minLength value="2" />
                                                                            <xs:maxLength value="255" />
                                                                            <xs:pattern value=".*[^\s].*" />
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="treiCap" minOccurs="0" maxOccurs="99">
                                                        <xs:annotation>
                                                            <xs:documentation>Treinamentos, Capacitações, Exercícios Simulados e Outras Anotações</xs:documentation>
                                                            <xs:documentation>CHAVE_GRUPO: {codTreiCap}</xs:documentation>
                                                            <xs:documentation>CONDICAO_GRUPO: OC</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="codTreiCap">
                                                                    <xs:simpleType>
                                                                        <xs:annotation>
                                                                            <xs:documentation>Código do treinamento, capacitação, exercício simulado ou outra anotação, conforme Tabela 28</xs:documentation>
                                                                            <xs:documentation>Validação: Deve ser um código existente na Tabela 28 - Treinamentos, Capacitações, Exercícios Simulados e Outras Anotações.</xs:documentation>
                                                                        </xs:annotation>
                                                                        <xs:restriction base="xs:string">
                                                                            <xs:pattern value="\d{4}" />
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Id" use="required" type="TS_Id" />
                    </xs:complexType>
                </xs:element>
                <xs:element ref="ds:Signature" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>