evtAltContratual.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns="http://www.esocial.gov.br/schema/evt/evtAltContratual/v01_00_00" targetNamespace="http://www.esocial.gov.br/schema/evt/evtAltContratual/v01_00_00" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:include schemaLocation="include/ideEvento_trab.xsd " />
    <xs:include schemaLocation="include/ideEmpregador_evtTab.xsd" />
    <xs:include schemaLocation="include/ideVinculo.xsd" />
    <xs:include schemaLocation="include/aprend.xsd" />
    <xs:include schemaLocation="include/remuneracao.xsd" />
    <xs:include schemaLocation="include/localTrabalho.xsd" />
    <xs:include schemaLocation="include/horContratual.xsd" />
    <xs:include schemaLocation="include/endereco.xsd" />
    <xs:include schemaLocation="include/alvaraJudicial.xsd" />
    <xs:include schemaLocation="include/treiCap.xsd" />
    <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd" />
    <xs:element name="eSocial">
        <xs:annotation>
            <xs:documentation>S-2206 - Alteração de Contrato de Trabalho/Relação Estatutária</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="evtAltContratual">
                    <xs:annotation>
                        <xs:documentation>Evento Alteração Contratual</xs:documentation>
                        <xs:documentation>CHAVE_GRUPO: {Id}</xs:documentation>
                        <xs:documentation>REGRA:REGRA_ADMISSAO_VALIDA_DURACAO_CONTRATO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_ALTERA_CATEG</xs:documentation>
                        <xs:documentation>REGRA:REGRA_ENVIO_PROC_FECHAMENTO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_EVENTOS_EXTEMP</xs:documentation>
                        <xs:documentation>REGRA:REGRA_EXISTE_INFO_EMPREGADOR</xs:documentation>
                        <xs:documentation>REGRA:REGRA_EXTEMP_REINTEGRACAO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_GERAL_VALIDA_DADOS_TABCONTRIB</xs:documentation>
                        <xs:documentation>REGRA:REGRA_RETIFICA_MESMO_VINCULO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_VALIDA_TRABALHADOR_BASE_CPF</xs:documentation>
                        <xs:documentation>REGRA:REGRA_VINCULO_ATIVO_NA_DTEVENTO</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ideEvento" type="T_ideEvento_trab" />
                            <xs:element name="ideEmpregador" type="T_ideEmpregador_evtTab" />
                            <xs:element name="ideVinculo" type="T_ideVinculo" />
                            <xs:element name="altContratual">
                                <xs:annotation>
                                    <xs:documentation>Informações do Contrato de Trabalho</xs:documentation>
                                    <xs:documentation>CHAVE_GRUPO: {dtAlteracao}, {dtEf}</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="dtAlteracao" type="xs:date">
                                            <xs:annotation>
                                                <xs:documentation>Data da Alteração</xs:documentation>
                                                <xs:documentation>Validação: Não pode ser posterior a 180 (cento e oitenta) dias da data atual.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="dtEf" type="xs:date" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation>Data dos efeitos</xs:documentation>
                                                <xs:documentation>Se a alteração foi fruto de lei, acordo coletivo, convenção coletiva ou sentença normativa, informar a data a partir da qual a alteração produz efeitos remuneratórios.</xs:documentation>
                                                <xs:documentation>Validação: Deve ser uma data válida, igual ou posterior à data de admissão.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="dscAlt" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:annotation>
                                                    <xs:documentation>Descrição da alteração</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:string">
                                                    <xs:minLength value="1" />
                                                    <xs:maxLength value="150" />
                                                    <xs:pattern value=".*[^\s].*" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="vinculo">
                                            <xs:annotation>
                                                <xs:documentation>Informações do vinculo</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="tpRegPrev" type="TS_tpRegPrev">
                                                        <xs:annotation>
                                                            <xs:documentation>Regime previdenciário</xs:documentation>
                                                            <xs:documentation>Validação: Se {codCateg} = [104], deve ser preenchido com [1]. Se {codCateg} = [101, 102, 103, 105, 106, 107, 108, 111], não pode ser preenchido com [2].</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="infoRegimeTrab">
                                            <xs:annotation>
                                                <xs:documentation>Informações do regime trabalhista</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="infoCeletista" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>Informações de Trabalhador Celetista</xs:documentation>
                                                            <xs:documentation>CONDICAO_GRUPO: O (se {tpRegTrab} indicado no evento S-2200 = [1]); N (nos demais casos)</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="tpRegJor" type="TS_tpRegJor">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Regime de jornada do empregado</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="natAtividade" type="TS_natAtividade">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Natureza da atividade</xs:documentation>
                                                                        <xs:documentation>Validação: Se {codCateg} = [104], deve ser preenchido com [1]. Se {codCateg} = [102], deve ser preenchido com [2].</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="dtBase" minOccurs="0" type="TS_dtBase" />
                                                                <xs:element name="cnpjSindCategProf" type="TS_cnpj">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Preencher com o CNPJ do sindicato representativo da categoria (Preponderante ou Diferenciada)</xs:documentation>
                                                                        <xs:documentation>Validação: Deve ser um CNPJ válido, com 14 (catorze) algarismos.</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="trabTemp" minOccurs="0">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Dados sobre trabalho temporário</xs:documentation>
                                                                        <xs:documentation>CONDICAO_GRUPO: OC (se {codCateg} = [106]); N (nos demais casos)</xs:documentation>
                                                                    </xs:annotation>
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="justProrr" type="TS_texto_999">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Justificativa da prorrogação</xs:documentation>
                                                                                    <xs:documentation>Descrever a justificativa para a prorrogação do contrato de trabalho temporário.</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="aprend" minOccurs="0" type="T_aprend">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Informações relacionadas ao aprendiz</xs:documentation>
                                                                        <xs:documentation>CONDICAO_GRUPO: OC (se {codCateg} = [103]); N (nos demais casos)</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="infoEstatutario" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>Informações de Trabalhador Estatutário</xs:documentation>
                                                            <xs:documentation>CONDICAO_GRUPO: O (se {tpRegPrev} = [2] e {tpRegTrab} indicado no evento S-2200 = [2]); N (nos demais casos)</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="tpPlanRP" type="TS_tpPlanRP">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Tipo de plano de segregação da massa</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="indTetoRGPS" type="TS_sim_nao">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Informar se o servidor está sujeito ao teto do Regime Geral pela instituição do regime de previdência complementar</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="indAbonoPerm" type="TS_sim_nao">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Indicar se o servidor recebe abono permanência</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="infoContrato">
                                            <xs:annotation>
                                                <xs:documentation>Informações do Contrato de Trabalho</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="nmCargo" minOccurs="0" type="TS_texto_100">
                                                        <xs:annotation>
                                                            <xs:documentation>Nome do Cargo</xs:documentation>
                                                            <xs:documentation>Validação: O preenchimento é obrigatório, exceto se for relativo a servidor nomeado em cargo em comissão ({tpRegTrab} = [2] e {tpProv} = [2]).</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="CBOCargo" minOccurs="0" type="TS_cbo">
                                                        <xs:annotation>
                                                            <xs:documentation>Classificação Brasileira de Ocupação</xs:documentation>
                                                            <xs:documentation>Validação: Informação obrigatória e exclusiva se {nmCargo} for preenchido. Se informado, deve ser um código existente na tabela de CBO, com 6 (seis) posições.</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="nmFuncao" minOccurs="0" type="TS_texto_100">
                                                        <xs:annotation>
                                                            <xs:documentation>Nome da Função de confiança/Cargo em Comissão</xs:documentation>
                                                            <xs:documentation>Validação: Preenchimento obrigatório se for relativo a servidor nomeado em cargo em comissão ({tpRegTrab} = [2] e {tpProv} = [2]).</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="CBOFuncao" minOccurs="0" type="TS_cbo">
                                                        <xs:annotation>
                                                            <xs:documentation>Classificação Brasileira de Ocupação</xs:documentation>
                                                            <xs:documentation>Validação: Informação obrigatória e exclusiva se {nmFuncao} for preenchido. Se informado, deve ser um código existente na tabela de CBO, com 6 (seis) posições.</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="acumCargo" type="TS_sim_nao" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>Indicar se é um cargo acumulável</xs:documentation>
                                                            <xs:documentation>Validação: Preenchimento obrigatório se a natureza jurídica do declarante for igual a [1XXX, 2011, 2038].</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="codCateg" type="TS_codCateg" />
                                                    <xs:element name="remuneracao" type="T_remuneracao" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>Informações da remuneração e periodicidade de pagamento</xs:documentation>
                                                            <xs:documentation>CONDICAO_GRUPO: O (se {tpRegTrab} indicado no evento S-2200 = [1]); N (nos demais casos)</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="duracao" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>Duração do Contrato de Trabalho</xs:documentation>
                                                            <xs:documentation>CONDICAO_GRUPO: O (se {tpRegTrab} indicado no evento S-2200 = [1]); N (nos demais casos)</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="tpContr" type="TS_tpContr" />
                                                                <xs:element name="dtTerm" type="xs:date" minOccurs="0">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Data do Término</xs:documentation>
                                                                        <xs:documentation>Data do término do contrato por prazo determinado.</xs:documentation>
                                                                        <xs:documentation>Validação: O preenchimento é obrigatório se {tpContr} = [2]. Não informar se {tpContr} = [1]. Se preenchido, deve ser igual ou posterior à data de admissão (no caso de sucessão ou de mudança de CPF, igual ou posterior à data da transferência ou à data de alteração do CPF, respectivamente).</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="objDet" minOccurs="0" type="TS_texto_255">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Indicação do objeto determinante da contratação por prazo determinado (obra, serviço, safra, etc.)</xs:documentation>
                                                                        <xs:documentation>Validação: O preenchimento é obrigatório e exclusivo se {tpContr} = [3].</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="localTrabalho">
                                                        <xs:annotation>
                                                            <xs:documentation>Informações do local de trabalho</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="localTrabGeral" type="T_localTrabalho" minOccurs="0">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Estabelecimento onde o trabalhador exercerá suas atividades</xs:documentation>
                                                                        <xs:documentation>CONDICAO_GRUPO: O (se {codCateg} diferente de [104, 106]); N (nos demais casos)</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="localTrabDom" type="T_endereco_Brasil" minOccurs="0">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Endereço de trabalho do trabalhador doméstico e trabalhador temporário</xs:documentation>
                                                                        <xs:documentation>CONDICAO_GRUPO: O (se {codCateg} = [104, 106]); N (nos demais casos)</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="horContratual" minOccurs="0" type="T_horContratual">
                                                        <xs:annotation>
                                                            <xs:documentation>Informações do Horário Contratual do Trabalhador</xs:documentation>
                                                            <xs:documentation>CONDICAO_GRUPO: O (se {tpRegJor} = [1]); OC (nos demais casos)</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="alvaraJudicial" minOccurs="0" type="T_alvaraJudicial">
                                                        <xs:annotation>
                                                            <xs:documentation>Dados do Alvará Judicial</xs:documentation>
                                                            <xs:documentation>CONDICAO_GRUPO: OC</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="observacoes" minOccurs="0" maxOccurs="99">
                                                        <xs:annotation>
                                                            <xs:documentation>Observações do contrato de trabalho</xs:documentation>
                                                            <xs:documentation>CONDICAO_GRUPO: OC</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="observacao" type="TS_texto_255">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Observação</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="treiCap" minOccurs="0" maxOccurs="99" type="T_treiCap">
                                                        <xs:annotation>
                                                            <xs:documentation>Treinamentos, Capacitações, Exercícios Simulados e Outras Anotações</xs:documentation>
                                                            <xs:documentation>CHAVE_GRUPO: {codTreiCap}</xs:documentation>
                                                            <xs:documentation>CONDICAO_GRUPO: OC</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Id" use="required" type="TS_Id" />
                    </xs:complexType>
                </xs:element>
                <xs:element ref="ds:Signature" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>