evtAltCadastral.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns="http://www.esocial.gov.br/schema/evt/evtAltCadastral/v01_00_00" targetNamespace="http://www.esocial.gov.br/schema/evt/evtAltCadastral/v01_00_00" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:include schemaLocation="include/ideEvento_trab.xsd" />
    <xs:include schemaLocation="include/ideEmpregador.xsd" />
    <xs:include schemaLocation="include/endereco.xsd" />
    <xs:include schemaLocation="include/contato.xsd" />
    <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd" />
    <xs:element name="eSocial">
        <xs:annotation>
            <xs:documentation>S-2205 - Alteração de Dados Cadastrais do Trabalhador</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="evtAltCadastral">
                    <xs:annotation>
                        <xs:documentation>Evento Alteração Cadastral do Trabalhador</xs:documentation>
                        <xs:documentation>CHAVE_GRUPO: {Id}</xs:documentation>
                        <xs:documentation>REGRA:REGRA_ENVIO_PROC_FECHAMENTO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_EVENTOS_EXTEMP</xs:documentation>
                        <xs:documentation>REGRA:REGRA_EXISTE_INFO_EMPREGADOR</xs:documentation>
                        <xs:documentation>REGRA:REGRA_EXISTE_TRABALHADOR</xs:documentation>
                        <xs:documentation>REGRA:REGRA_EXTEMP_REINTEGRACAO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_VALIDA_TRABALHADOR_BASE_CPF</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ideEvento" type="T_ideEvento_trab" />
                            <xs:element name="ideEmpregador" type="T_ideEmpregador" />
                            <xs:element name="ideTrabalhador">
                                <xs:annotation>
                                    <xs:documentation>Identificação do Trabalhador</xs:documentation>
                                    <xs:documentation>CHAVE_GRUPO: {cpfTrab}</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="cpfTrab" type="TS_cpf">
                                            <xs:annotation>
                                                <xs:documentation>CPF do trabalhador</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="alteracao">
                                <xs:annotation>
                                    <xs:documentation>Alteração de Dados Cadastrais do Trabalhador</xs:documentation>
                                    <xs:documentation>CHAVE_GRUPO: {dtAlteracao}</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="dtAlteracao" type="xs:date">
                                            <xs:annotation>
                                                <xs:documentation>Data da Alteração</xs:documentation>
                                                <xs:documentation>Validação: Não pode ser posterior a 180 (cento e oitenta) dias da data atual.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="dadosTrabalhador">
                                            <xs:annotation>
                                                <xs:documentation>Informações Pessoais do Trabalhador</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="nmTrab" type="TS_nome">
                                                        <xs:annotation>
                                                            <xs:documentation>Nome do Trabalhador</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="sexo" type="TS_sexo">
                                                        <xs:annotation>
                                                            <xs:documentation>Sexo</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="racaCor" type="TS_racaCor">
                                                        <xs:annotation>
                                                            <xs:documentation>Raça e cor do trabalhador</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="estCiv" minOccurs="0" type="TS_estCivil">
                                                        <xs:annotation>
                                                            <xs:documentation>Estado civil do trabalhador</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="grauInstr" type="TS_grauInstr">
                                                        <xs:annotation>
                                                            <xs:documentation>Grau de instrução do trabalhador</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="nmSoc" minOccurs="0" type="TS_nome">
                                                        <xs:annotation>
                                                            <xs:documentation>Nome Social</xs:documentation>
                                                            <xs:documentation>Nome social para travesti ou transexual</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="paisNac" type="TS_pais">
                                                        <xs:annotation>
                                                            <xs:documentation>Código do país de nacionalidade do trabalhador</xs:documentation>
                                                            <xs:documentation>Validação: Deve ser um código existente na Tabela 06.</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="endereco">
                                                        <xs:annotation>
                                                            <xs:documentation>Endereço do Trabalhador</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:choice>
                                                                    <xs:element name="brasil" type="T_endereco_Brasil">
                                                                        <xs:annotation>
                                                                            <xs:documentation>Endereço no Brasil</xs:documentation>
                                                                            <xs:documentation>CONDICAO_GRUPO: O (se não informado o grupo {exterior}); N (nos demais casos)</xs:documentation>
                                                                        </xs:annotation>
                                                                    </xs:element>
                                                                    <xs:element name="exterior" type="T_endereco_exterior">
                                                                        <xs:annotation>
                                                                            <xs:documentation>Endereço no Exterior</xs:documentation>
                                                                            <xs:documentation>CONDICAO_GRUPO: O (se não informado o grupo {brasil}); N (nos demais casos)</xs:documentation>
                                                                        </xs:annotation>
                                                                    </xs:element>
                                                                </xs:choice>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="trabImig" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>Informações do trabalhador imigrante</xs:documentation>
                                                            <xs:documentation>CONDICAO_GRUPO: OC (se {paisNac} diferente de [105]); N (nos demais casos)</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="tmpResid" minOccurs="0" type="TS_tmpResid">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Tempo de residência do trabalhador imigrante</xs:documentation>
                                                                        <xs:documentation>Validação: Preenchimento obrigatório quando houver trabalhador com ({dtAdm} ou {dtExercicio} ou {dtInicio}) no Registro de Eventos Trabalhistas - RET >= [2020-09-08].</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="condIng" type="TS_condIng">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Condição de ingresso do trabalhador imigrante</xs:documentation>
                                                                        <xs:documentation>Validação: Se {tmpResid} = [1], não pode ser informado [2, 5]. Se {tmpResid} = [2], não pode ser informado [1].</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="infoDeficiencia" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>Pessoa com Deficiência</xs:documentation>
                                                            <xs:documentation>CONDICAO_GRUPO: OC</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="defFisica" type="TS_sim_nao">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Deficiência Física</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="defVisual" type="TS_sim_nao">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Deficiência visual</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="defAuditiva" type="TS_sim_nao">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Deficiência auditiva</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="defMental" type="TS_sim_nao">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Deficiência Mental</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="defIntelectual" type="TS_sim_nao">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Deficiência Intelectual</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="reabReadap" type="TS_sim_nao">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Reabilitado/Readaptado</xs:documentation>
                                                                        <xs:documentation>Informar se o trabalhador é reabilitado (empregado) ou readaptado (servidor público/militar). Reabilitado: estando o empregado incapacitado parcial ou totalmente para o trabalho, cumpriu Programa de Reabilitação Profissional no INSS, recebendo certificado, sendo proporcionado os meios indicados para participar do mercado de trabalho. Readaptado: o servidor está investido em cargo de atribuições e responsabilidades compatíveis com a limitação que tenha sofrido em sua capacidade física ou mental verificada em inspeção médica.</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="infoCota" type="TS_sim_nao" minOccurs="0">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Informar se o trabalhador preenche cota de pessoas com deficiência habilitadas ou de beneficiários reabilitados</xs:documentation>
                                                                        <xs:documentation>Validação: Preenchimento obrigatório e exclusivo quando houver trabalhador cadastrado no evento S-2200 com {tpRegTrab} = [1] e ativo em {dtAlteracao}.</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="observacao" minOccurs="0" type="TS_texto_255">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Observação</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="dependente" minOccurs="0" maxOccurs="99">
                                                        <xs:annotation>
                                                            <xs:documentation>Informações dos dependentes</xs:documentation>
                                                            <xs:documentation>CHAVE_GRUPO: {tpDep}, {nmDep}, {dtNascto}</xs:documentation>
                                                            <xs:documentation>CONDICAO_GRUPO: OC</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="tpDep" type="TS_tpDep">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Tipo de dependente</xs:documentation>
                                                                        <xs:documentation>Validação: Deve ser um código existente na Tabela 07.</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="nmDep" type="TS_nome">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Nome do Dependente</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="dtNascto">
                                                                    <xs:simpleType>
                                                                        <xs:annotation>
                                                                            <xs:documentation>Data de Nascimento</xs:documentation>
                                                                            <xs:documentation>Validação: Deve ser maior ou igual que 01/01/1890 e menor que a data atual.</xs:documentation>
                                                                        </xs:annotation>
                                                                        <xs:restriction base="xs:date">
                                                                            <xs:minInclusive value="1890-01-01" />
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="cpfDep" minOccurs="0" type="TS_cpf">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Número de Inscrição no CPF</xs:documentation>
                                                                        <xs:documentation>Validação: Deve ser um número de CPF válido, observando o que segue:</xs:documentation>
                                                                        <xs:documentation>a) O preenchimento é obrigatório se {depIRRF} = [S];</xs:documentation>
                                                                        <xs:documentation>b) Em arquivo de empregador Pessoa Física, deve ser diferente do CPF informado em {ideEmpregador};</xs:documentation>
                                                                        <xs:documentation>c) Não pode haver mais de um dependente com o mesmo número de CPF.</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="sexoDep" minOccurs="0" type="TS_sexo">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Sexo do dependente</xs:documentation>
                                                                        <xs:documentation>Validação: Preenchimento obrigatório e exclusivo quando houver trabalhador cadastrado no evento S-2200, ativo em {dtAlteracao} e com {tpRegPrev} = [2] no RET.</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="depIRRF" type="TS_sim_nao">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Dependente para fins de IRRF</xs:documentation>
                                                                        <xs:documentation>Informar se é dependente do trabalhador para fins de dedução de seu rendimento tributável pelo Imposto de Renda.</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="depSF" type="TS_sim_nao">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Dependente SF</xs:documentation>
                                                                        <xs:documentation>Informar se é dependente para fins de recebimento do benefício de salário-família.</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="incTrab" type="TS_sim_nao">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Incapacidade para o trabalho</xs:documentation>
                                                                        <xs:documentation>Informar se o dependente tem incapacidade física ou mental para o trabalho.</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="contato" type="T_contato" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>Informações de Contato</xs:documentation>
                                                            <xs:documentation>CONDICAO_GRUPO: OC</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Id" use="required" type="TS_Id" />
                    </xs:complexType>
                </xs:element>
                <xs:element ref="ds:Signature" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>