evtBenPrRP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns="http://www.esocial.gov.br/schema/evt/evtBenPrRP/v01_00_00" targetNamespace="http://www.esocial.gov.br/schema/evt/evtBenPrRP/v01_00_00" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:include schemaLocation="include/ideEvento_folha.xsd " />
    <xs:include schemaLocation="include/ideEmpregador_cnpj.xsd" />
    <xs:include schemaLocation="include/itensRemun_rpps.xsd" />
    <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd" />
    <xs:element name="eSocial">
        <xs:annotation>
            <xs:documentation>S-1207 - Benefícios - Entes públicos</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="evtBenPrRP">
                    <xs:annotation>
                        <xs:documentation>Benefícios - Entes públicos</xs:documentation>
                        <xs:documentation>CHAVE_GRUPO: {Id}</xs:documentation>
                        <xs:documentation>REGRA:REGRA_CONTROLE_DUPLICIDADE</xs:documentation>
                        <xs:documentation>REGRA:REGRA_ENVIO_PROC_FECHAMENTO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_EVENTOS_EXTEMP</xs:documentation>
                        <xs:documentation>REGRA:REGRA_EXISTE_INFO_EMPREGADOR</xs:documentation>
                        <xs:documentation>REGRA:REGRA_GERAL_VALIDA_DADOS_TABCONTRIB</xs:documentation>
                        <xs:documentation>REGRA:REGRA_REMUN_ANUAL_DEZEMBRO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_REMUN_BENEFICIO_EXISTENTE_RET</xs:documentation>
                        <xs:documentation>REGRA:REGRA_REMUN_IND_RETIFICACAO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_REMUN_PERMITE_EXCLUSAO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_RUBRICA_COMPATIVEL_DECTERCEIRO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_VALIDA_PERIODO_APURACAO</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ideEvento" type="T_ideEvento_folha" />
                            <xs:element name="ideEmpregador" type="T_ideEmpregador_cnpj" />
                            <xs:element name="ideBenef">
                                <xs:annotation>
                                    <xs:documentation>Identificação do Beneficiário</xs:documentation>
                                    <xs:documentation>CHAVE_GRUPO: {cpfBenef}</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="cpfBenef" type="TS_cpf">
                                            <xs:annotation>
                                                <xs:documentation>Informar o CPF do beneficiário.</xs:documentation>
                                                <xs:documentation>Validação: Deve ser um CPF válido.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="dmDev" maxOccurs="999">
                                <xs:annotation>
                                    <xs:documentation>Demonstrativos de valores devidos ao beneficiário</xs:documentation>
                                    <xs:documentation>CHAVE_GRUPO: {ideDmDev}</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="ideDmDev" type="TS_codigo_esocial">
                                            <xs:annotation>
                                                <xs:documentation>Identificador atribuído pelo órgão público para o demonstrativo de pagamento. Este campo poderá ser informado utilizando-se de um identificador padrão para todos os beneficiários, no entanto, havendo mais de um pagamento relativo a um mesmo período de competência devem ser utilizados identificadores diferentes para cada um dos demonstrativos.</xs:documentation>
                                                <xs:documentation>Validação: Deve ser um identificador único dentro da mesma competência para cada um dos demonstrativos de pagamento do beneficiário.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="nrBeneficio" type="TS_nrBeneficio">
                                            <xs:annotation>
                                                <xs:documentation>Preencher com o número do benefício.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="infoPerApur" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation>Informações relativas ao período de apuração</xs:documentation>
                                                <xs:documentation>CONDICAO_GRUPO: O (se não existir o grupo {infoPerAnt}); OC (nas demais situações)</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="ideEstab" maxOccurs="500">
                                                        <xs:annotation>
                                                            <xs:documentation>Identificação da unidade do órgão público</xs:documentation>
                                                            <xs:documentation>CHAVE_GRUPO: {tpInsc}, {nrInsc}</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="tpInsc" type="TS_tpInsc_1" />
                                                                <xs:element name="nrInsc" type="TS_cnpj">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Informar o número de inscrição da unidade do órgão público.</xs:documentation>
                                                                        <xs:documentation>Validação: Deve constar na Tabela S-1005 em {perApur}.</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="itensRemun" type="T_itensRemun_rpps" maxOccurs="200">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Itens que compõem o provento ou pensão do beneficiário</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="infoPerAnt" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation>Informações relativas a períodos anteriores</xs:documentation>
                                                <xs:documentation>CONDICAO_GRUPO: O (se não existir o grupo {infoPerApur}); OC (nas demais situações)</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="idePeriodo" maxOccurs="180">
                                                        <xs:annotation>
                                                            <xs:documentation>Identificação do período de referência do provento ou pensão</xs:documentation>
                                                            <xs:documentation>CHAVE_GRUPO: {perRef}</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="perRef" type="TS_periodo_mensal">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Informar o período ao qual se refere o complemento de provento ou pensão, no formato AAAA-MM.</xs:documentation>
                                                                        <xs:documentation>Validação: Deve ser igual ou anterior ao período de apuração informado em {perApur}.</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="ideEstab" maxOccurs="500">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Identificação da unidade do órgão público</xs:documentation>
                                                                        <xs:documentation>CHAVE_GRUPO: {tpInsc}, {nrInsc}</xs:documentation>
                                                                    </xs:annotation>
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="tpInsc" type="TS_tpInsc_1" />
                                                                            <xs:element name="nrInsc" type="TS_cnpj">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Informar o número de inscrição da unidade do órgão público.</xs:documentation>
                                                                                    <xs:documentation>Validação: Deve constar na Tabela S-1005 em {perRef}.</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:element>
                                                                            <xs:element name="itensRemun" type="T_itensRemun_rpps" maxOccurs="200">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Itens que compõem o provento ou pensão do beneficiário</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Id" use="required" type="TS_Id" />
                    </xs:complexType>
                </xs:element>
                <xs:element ref="ds:Signature" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>