evtContProc.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns="http://www.esocial.gov.br/schema/evt/evtContProc/v_S_01_00_00" targetNamespace="http://www.esocial.gov.br/schema/evt/evtContProc/v_S_01_00_00" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:include schemaLocation="tipos.xsd" />
    <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd" />
    <xs:element name="eSocial">
        <xs:annotation>
            <xs:documentation>S-2501 - Informações de Contribuições Decorrentes de Processo Trabalhista</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="evtContProc">
                    <xs:annotation>
                        <xs:documentation>Evento Informações de Contribuições Decorrentes de Processo Trabalhista.</xs:documentation>
                        <xs:documentation>CHAVE_GRUPO: {Id}</xs:documentation>
                        <xs:documentation>REGRA:REGRA_ENVIO_PROC_FECHAMENTO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_EXISTE_INFO_EMPREGADOR</xs:documentation>
                        <xs:documentation>REGRA:REGRA_VALIDA_EMPREGADOR</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ideEvento" type="T_ideEvento_trab" />
                            <xs:element name="ideEmpregador">
                                <xs:annotation>
                                    <xs:documentation>Informações de identificação do empregador ou do contribuinte que está prestando a informação.</xs:documentation>
                                    <xs:documentation>CHAVE_GRUPO: {tpInsc*}, {nrInsc*}</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="tpInsc" type="TS_tpInsc_1_2">
                                            <xs:annotation>
                                                <xs:documentation>Preencher com o código correspondente ao tipo de inscrição do empregador ou contribuinte que está prestando a informação, conforme Tabela 05.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="nrInsc" type="TS_nrInsc_8_11_14">
                                            <xs:annotation>
                                                <xs:documentation>Informar o número de inscrição do empregador ou contribuinte que está prestando a informação, de acordo com o tipo de inscrição indicado no campo {ideEmpregador/tpInsc}(./tpInsc) e conforme informado em S-1000.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="ideProc">
                                <xs:annotation>
                                    <xs:documentation>Identificação do processo.</xs:documentation>
                                    <xs:documentation>CHAVE_GRUPO: {nrProcTrab*}, {perApurPgto*}</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="nrProcTrab" type="TS_nrProcTrab">
                                            <xs:annotation>
                                                <xs:documentation>Número do processo trabalhista, da ata ou número de identificação da conciliação.</xs:documentation>
                                                <xs:documentation>Validação: Deve ser um número de processo válido e declarado no evento S-2500 para o(s) trabalhador(es) informado(s) em {cpfTrab}(2501_calcTrib_cpfTrab).</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>                                        
                                        <xs:element name="perApurPgto" type="TS_periodo_mensal">
                                            <xs:annotation>
                                                <xs:documentation>Mês/ano em que é devida a obrigação de pagar a parcela prevista no acordo/sentença.</xs:documentation>
                                                <xs:documentation>Validação: Deve ser informado no formato AAAA-MM.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="obs" minOccurs="0" type="TS_texto_999">
                                            <xs:annotation>
                                                <xs:documentation>Observação referente ao pagamento de parcela prevista no acordo/sentença.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="calcTrib" maxOccurs="999">
                                <xs:annotation>
                                    <xs:documentation>Identificação do trabalhador, do período e da base de cálculo dos tributos.</xs:documentation>
                                    <xs:documentation>CHAVE_GRUPO: {cpfTrab}, {perRef}</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="cpfTrab" type="TS_cpfTrab">
                                            <xs:annotation>
                                                <xs:documentation>Preencher com o número do CPF do trabalhador.</xs:documentation>
                                                <xs:documentation>Validação: Deve ser um CPF válido e informado no evento S-2500.</xs:documentation>
                                            </xs:annotation>                                                        
                                        </xs:element>
                                        <xs:element name="perRef" type="TS_periodo_mensal">
                                            <xs:annotation>
                                                <xs:documentation>Informar o mês/ano (formato AAAA-MM) de referência das informações.</xs:documentation>
                                                <xs:documentation>Validação: Deve ser um período existente no evento S-2500 para o trabalhador indicado em {cpfTrab}(./cpfTrab).</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="vrBcCpMensal" type="TS_valorMonetario">
                                            <xs:annotation>
                                                <xs:documentation>Valor da base de cálculo da contribuição previdenciária sobre a remuneração mensal do trabalhador.</xs:documentation>
                                                <xs:documentation>Validação: Deve ser maior ou igual a 0 (zero).</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="vrBcCp13" type="TS_valorMonetario">
                                            <xs:annotation>
                                                <xs:documentation>Valor da base de cálculo da contribuição previdenciária sobre a remuneração do trabalhador referente ao 13º salário.</xs:documentation>
                                                <xs:documentation>Validação: Deve ser maior ou igual a 0 (zero).</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="vrRendIRRF" type="TS_valorMonetario">
                                            <xs:annotation>
                                                <xs:documentation>Valor do rendimento tributável do Imposto de Renda.</xs:documentation>
                                                <xs:documentation>Validação: Deve ser maior ou igual a 0 (zero).</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="vrRendIRRF13" type="TS_valorMonetario">
                                            <xs:annotation>
                                                <xs:documentation>Valor do rendimento tributável do Imposto de Renda referente ao 13º salário - Tributação exclusiva.</xs:documentation>
                                                <xs:documentation>Validação: Deve ser maior ou igual a 0 (zero).</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="infoCRContrib" minOccurs="0" maxOccurs="99">
                                            <xs:annotation>
                                                <xs:documentation>Informações das contribuições sociais.</xs:documentation>
                                                <xs:documentation>DESCRICAO_COMPLETA:Informações das contribuições sociais devidas à Previdência Social e Outras Entidades e Fundos, por Código de Receita - CR.</xs:documentation>
                                                <xs:documentation>CHAVE_GRUPO: {tpCR}</xs:documentation>
                                                <xs:documentation>CONDICAO_GRUPO: OC</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="tpCR">
                                                        <xs:simpleType>
                                                            <xs:annotation>
                                                                <xs:documentation>Código de Receita - CR relativo a contribuições sociais devidas à Previdência Social e a Outras Entidades e Fundos (Terceiros), conforme legislação em vigor na competência.</xs:documentation>
                                                                <xs:documentation>Validação: Deve ser um código válido e existente na Tabela 29.</xs:documentation>
                                                            </xs:annotation>
                                                            <xs:restriction base="xs:integer">
                                                                <xs:pattern value="\d{6}" />
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="vrCR" type="TS_valorMonetario_positivo">
                                                        <xs:annotation>
                                                            <xs:documentation>Valor correspondente ao Código de Receita - CR.</xs:documentation>
                                                            <xs:documentation>Validação: Deve ser informado de acordo com a legislação em vigor na competência.</xs:documentation>
                                                            <xs:documentation>Deve ser maior que 0 (zero).</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="infoCRIRRF" minOccurs="0" maxOccurs="99">
                                            <xs:annotation>
                                                <xs:documentation>Informações de IRRF.</xs:documentation>
                                                <xs:documentation>DESCRICAO_COMPLETA:Informações de Imposto de Renda Retido na Fonte, por Código de Receita - CR.</xs:documentation>
                                                <xs:documentation>CHAVE_GRUPO: {tpCR}</xs:documentation>
                                                <xs:documentation>CONDICAO_GRUPO: OC</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="tpCR">
                                                        <xs:simpleType>
                                                            <xs:annotation>
                                                                <xs:documentation>Código de Receita - CR relativo a Imposto de Renda Retido na Fonte.</xs:documentation>
                                                                <xs:documentation>Validação: Deve ser um código válido e existente na Tabela 29.</xs:documentation>
                                                            </xs:annotation>
                                                            <xs:restriction base="xs:integer">
                                                                <xs:pattern value="\d{6}" />
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="vrCR" type="TS_valorMonetario_positivo">
                                                        <xs:annotation>
                                                            <xs:documentation>Valor correspondente ao Código de Receita - CR.</xs:documentation>
                                                            <xs:documentation>Validação: Deve ser informado de acordo com a legislação em vigor na competência.</xs:documentation>
                                                            <xs:documentation>Deve ser maior que 0 (zero).</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="infoComplIRRF" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation>Informações complementares de IRRF.</xs:documentation>
                                                <xs:documentation>DESCRICAO_COMPLETA:Informações complementares de Imposto de Renda Retido na Fonte.</xs:documentation>
                                                <xs:documentation>CONDICAO_GRUPO: OC</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="vlrDedPensao" type="TS_valorMonetario">
                                                        <xs:annotation>
                                                            <xs:documentation>Valor do somatório das deduções referentes à pensão alimentícia.</xs:documentation>
                                                            <xs:documentation>Validação: Se o grupo {penAlim}(./penAlim) for informado, o valor deste campo deve ser o somatório dos valores informados no campo {vlrPensao}(./penAlim_vlrPensao).</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="vlrDedDepen" type="TS_valorMonetario">
                                                        <xs:annotation>
                                                            <xs:documentation>Valor do somatório das deduções por dependentes.</xs:documentation>
                                                            <xs:documentation>Validação: Devem ser observadas as seguintes regras:</xs:documentation>
                                                            <xs:documentation>a) Se o grupo {dedDepen}(./dedDepen) for informado, o valor deste campo deve ser o somatório dos valores informados no campo {vlrDeducao}(./dedDepen_vlrDeducao).</xs:documentation>
                                                            <xs:documentation>b) O não preenchimento do grupo {dedDepen}(./dedDepen) indica que o contribuinte declarante não possui as informações detalhadas por dependente. Se o grupo {dedDepen}(./dedDepen) não for preenchido, o valor informado neste campo deve ser múltiplo do valor unitário da dedução por dependente definido na legislação. Caso a regra dessa alínea não seja atendida, retornar "alerta".</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="dedDepen" minOccurs="0" maxOccurs="99">
                                                        <xs:annotation>
                                                            <xs:documentation>Dedução do rendimento tributável relativa a dependentes.</xs:documentation>
                                                            <xs:documentation>CHAVE_GRUPO: {cpfDepen}</xs:documentation>
                                                            <xs:documentation>CONDICAO_GRUPO: OC</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="cpfDepen" type="TS_cpf">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Informar o CPF do dependente.</xs:documentation>
                                                                        <xs:documentation>Validação: Deve ser um CPF de dependente cadastrado no eSocial (S-2200, S-2205, S-2300 ou S-2500).</xs:documentation>
                                                                    </xs:annotation>                                                        
                                                                </xs:element>
                                                                <xs:element name="vlrDeducao" type="TS_valorMonetario">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Valor da dedução referente ao dependente acima identificado.</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="penAlim" minOccurs="0" maxOccurs="99">
                                                        <xs:annotation>
                                                            <xs:documentation>Informação dos beneficiários da pensão alimentícia.</xs:documentation>
                                                            <xs:documentation>CHAVE_GRUPO: {cpfDep}</xs:documentation>
                                                            <xs:documentation>CONDICAO_GRUPO: OC</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="cpfDep" type="TS_cpf">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Número do CPF do dependente/beneficiário da pensão alimentícia.</xs:documentation>
                                                                        <xs:documentation>Validação: Deve ser um CPF de dependente cadastrado no eSocial (S-2200, S-2205, S-2300 ou S-2500).</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="vlrPensao" type="TS_valorMonetario">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Valor relativo à dedução do rendimento tributável correspondente a pagamento de pensão alimentícia.</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="infoRRA" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>Informações complementares relativas a RRA.</xs:documentation>
                                                            <xs:documentation>DESCRICAO_COMPLETA:Informações complementares relativas a Rendimentos Recebidos Acumuladamente - RRA.</xs:documentation>
                                                            <xs:documentation>CONDICAO_GRUPO: OC</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="descRRA">
                                                                    <xs:simpleType>
                                                                        <xs:annotation>
                                                                            <xs:documentation>Descrição dos Rendimentos Recebidos Acumuladamente.</xs:documentation>
                                                                        </xs:annotation>
                                                                        <xs:restriction base="xs:string">
                                                                            <xs:minLength value="1" />
                                                                            <xs:maxLength value="50" />
                                                                            <xs:pattern value=".*[^\s].*" />
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="qtdMesesRRA">
                                                                    <xs:simpleType>
                                                                        <xs:annotation>
                                                                            <xs:documentation>Número de meses relativo aos Rendimentos Recebidos Acumuladamente - RRA.</xs:documentation>
                                                                        </xs:annotation>
                                                                        <xs:restriction base="xs:decimal">
                                                                            <xs:totalDigits value="4" />
                                                                            <xs:fractionDigits value="1" />
                                                                            <xs:minExclusive value="0" />
                                                                            <xs:maxInclusive value="999.9" />
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="despProcJud" minOccurs="0">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Detalhamento das despesas com processo judicial.</xs:documentation>
                                                                        <xs:documentation>CONDICAO_GRUPO: OC</xs:documentation>
                                                                    </xs:annotation>
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="vlrDespCustas" type="TS_valorMonetario">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Preencher com o valor das despesas com custas judiciais.</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:element>
                                                                            <xs:element name="vlrDespAdvogados" type="TS_valorMonetario">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Preencher com o valor total das despesas com advogado(s).</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="ideAdv" minOccurs="0" maxOccurs="99">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Identificação dos advogados.</xs:documentation>
                                                                        <xs:documentation>CHAVE_GRUPO: {tpInsc}, {nrInsc}</xs:documentation>
                                                                        <xs:documentation>CONDICAO_GRUPO: OC</xs:documentation>
                                                                    </xs:annotation>
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="tpInsc" type="TS_tpInsc_1_2">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Preencher com o código correspondente ao tipo de inscrição, conforme Tabela 05.</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:element>
                                                                            <xs:element name="nrInsc" type="TS_nrInsc_11_14">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Informar o número de inscrição do advogado.</xs:documentation>
                                                                                    <xs:documentation>Validação: Deve ser um número de inscrição válido, de acordo com o tipo de inscrição indicado no campo {ideAdv/tpInsc}(./tpInsc), considerando as particularidades aplicadas à informação de CNPJ de órgão público em S-1000.</xs:documentation>
                                                                                    <xs:documentation>Se {ideAdv/tpInsc}(./tpInsc) = [1], deve possuir 14 (catorze) algarismos e, no caso de declarante pessoa jurídica, ser diferente do CNPJ base do empregador (exceto se {ideEmpregador/nrInsc}(2501_ideEmpregador_nrInsc) tiver 14 (catorze) algarismos).</xs:documentation>
                                                                                    <xs:documentation>Se {ideAdv/tpInsc}(./tpInsc) = [2], deve possuir 11 (onze) algarismos e, no caso de declarante pessoa física, ser diferente do CPF do empregador.</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:element>
                                                                            <xs:element name="vlrAdv" minOccurs="0" type="TS_valorMonetario">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Valor da despesa com o advogado, se houver.</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Id" use="required" type="TS_Id" />
                    </xs:complexType>
                </xs:element>
                <xs:element ref="ds:Signature" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>