evtDeslig.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns="http://www.esocial.gov.br/schema/evt/evtDeslig/v01_00_00" targetNamespace="http://www.esocial.gov.br/schema/evt/evtDeslig/v01_00_00" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:include schemaLocation="include/ideEvento_trab.xsd " />
    <xs:include schemaLocation="include/ideEmpregador_evtTab.xsd" />
    <xs:include schemaLocation="include/ideVinculo.xsd" />
    <xs:include schemaLocation="include/procJudTrab.xsd" />
    <xs:include schemaLocation="include/infoInterm.xsd" />
    <xs:include schemaLocation="include/infoMV.xsd" />
    <xs:include schemaLocation="include/quarentena.xsd" />
    <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd" />
    <xs:element name="eSocial">
        <xs:annotation>
            <xs:documentation>S-2299 - Desligamento</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="evtDeslig">
                    <xs:annotation>
                        <xs:documentation>Evento Desligamento</xs:documentation>
                        <xs:documentation>CHAVE_GRUPO: {Id}</xs:documentation>
                        <xs:documentation>REGRA:REGRA_DESLIG_EXCLUI_DESLIGAMENTO_REINTEG</xs:documentation>
                        <xs:documentation>REGRA:REGRA_DESLIG_EXCLUSAO_EVENTO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_DESLIG_EXISTE_EVENTO_POSTERIOR</xs:documentation>
                        <xs:documentation>REGRA:REGRA_DESLIG_TRABALHADOR_AFASTADO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_ENVIO_PROC_FECHAMENTO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_EVENTOS_EXTEMP</xs:documentation>
                        <xs:documentation>REGRA:REGRA_EXISTE_INFO_EMPREGADOR</xs:documentation>
                        <xs:documentation>REGRA:REGRA_EXTEMP_REINTEGRACAO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_GERAL_VALIDA_DADOS_TABCONTRIB</xs:documentation>
                        <xs:documentation>REGRA:REGRA_MUDANCA_CPF</xs:documentation>
                        <xs:documentation>REGRA:REGRA_REMUN_IND_RETIFICACAO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_REMUN_PERMITE_EXCLUSAO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_RETIFICA_MESMO_VINCULO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_VALIDA_EMPREGADOR</xs:documentation>
                        <xs:documentation>REGRA:REGRA_VALIDA_PERIODO_APURACAO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_VINCULO_ATIVO_NA_DTEVENTO</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ideEvento" type="T_ideEvento_trab" />
                            <xs:element name="ideEmpregador" type="T_ideEmpregador_evtTab" />
                            <xs:element name="ideVinculo" type="T_ideVinculo" />
                            <xs:element name="infoDeslig">
                                <xs:annotation>
                                    <xs:documentation>Desligamento</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="mtvDeslig">
                                            <xs:simpleType>
                                                <xs:annotation>
                                                    <xs:documentation>Código de Motivo do Desligamento.</xs:documentation>
                                                    <xs:documentation>Validação: Deve ser um código válido e existente na Tabela 19.</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern value="\d{2}" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="dtDeslig" type="xs:date">
                                            <xs:annotation>
                                                <xs:documentation>Preencher com a data do último dia trabalhado para o respectivo vínculo.</xs:documentation>
                                                <xs:documentation>Validação: Deve ser uma data igual ou posterior à data de admissão/exercício do trabalhador (no caso de sucessão ou de mudança de CPF, igual ou posterior à data da transferência ou à data de alteração do CPF, respectivamente) e não superior à data atual acrescida de 10 dias corridos.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="dtAvPrv" minOccurs="0" type="xs:date">
                                            <xs:annotation>
                                                <xs:documentation>Data de início do aviso prévio.</xs:documentation>
                                                <xs:documentation>Validação: Se informada, deve ser igual ou posterior à data de admissão e igual ou anterior a {dtDeslig}.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="indPagtoAPI" type="TS_sim_nao">
                                            <xs:annotation>
                                                <xs:documentation>Indicativo de pagamento de Aviso Prévio Indenizado pelo empregador, ao empregado.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="dtProjFimAPI" minOccurs="0" type="xs:date">
                                            <xs:annotation>
                                                <xs:documentation>Data projetada para o término do aviso prévio indenizado.</xs:documentation>
                                                <xs:documentation>Validação: Obrigatório se {indPagtoAPI} for igual a [S], devendo ser igual ou posterior a {dtDeslig}.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="pensAlim" minOccurs="0" type="TS_pensAlim">
                                            <xs:annotation>
                                                <xs:documentation>Indicativo de pensão alimentícia para fins de retenção de FGTS.</xs:documentation>
                                                <xs:documentation>Validação: Preenchimento obrigatório e exclusivo se o vínculo for celetista ({tpRegTrab} indicado no evento S-2200 = [1]).</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="percAliment" minOccurs="0" type="TS_percAliment" />
                                        <xs:element name="vrAlim" minOccurs="0" type="TS_vrAlim" />
                                        <xs:element name="nrProcTrab" minOccurs="0" type="TS_nrProcJud">
                                            <xs:annotation>
                                                <xs:documentation>Número que identifica o processo trabalhista, quando o desligamento se der por decisão judicial.</xs:documentation>
                                                <xs:documentation>Validação: Se preenchido, deve ser um processo judicial válido, com 20 (vinte) algarismos</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="infoInterm" minOccurs="0" maxOccurs="31" type="T_infoInterm">
                                            <xs:annotation>
                                                <xs:documentation>Informações relativas ao trabalho intermitente</xs:documentation>
                                                <xs:documentation>CHAVE_GRUPO: {dia}</xs:documentation>
                                                <xs:documentation>CONDICAO_GRUPO: OC (se {codCateg} = [111] em mês/ano de {dtDeslig}; N (nos demais casos)</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="observacoes" minOccurs="0" maxOccurs="99">
                                            <xs:annotation>
                                                <xs:documentation>Observações sobre o desligamento</xs:documentation>
                                                <xs:documentation>CONDICAO_GRUPO: OC</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="observacao" type="TS_texto_255">
                                                        <xs:annotation>
                                                            <xs:documentation>Observação relevante sobre o desligamento do trabalhador, que não esteja consignada em outros campos.</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="sucessaoVinc" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation>Sucessão do Vínculo Trabalhista/Estatutário</xs:documentation>
                                                <xs:documentation>CONDICAO_GRUPO: O (se {mtvDeslig} = [11, 12, 13, 25, 28, 29, 30, 37]); N (nos demais casos)</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="tpInscSuc" type="TS_tpInsc_1_2" />
                                                    <xs:element name="cnpjSucessora" type="TS_nrInsc_11_14">
                                                        <xs:annotation>
                                                            <xs:documentation>Informar o número de inscrição do empregador sucessor, de acordo com o tipo de inscrição indicado no campo {tpInscSuc}.</xs:documentation>
                                                            <xs:documentation>Validação: Deve ser um número de inscrição válido diferente da inscrição do declarante, considerando as particularidades aplicadas à informação de CNPJ de órgão público em S-1000.</xs:documentation>
                                                            <xs:documentation>Se {tpInscSuc} = [1], deve possuir 14 (catorze) algarismos e ser diferente do CNPJ base do empregador e dos estabelecimentos informados através do evento S-1005.</xs:documentation>
                                                            <xs:documentation>Se {tpInscSuc} = [2], deve possuir 11 (onze) algarismos</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="transfTit" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation>Transferência de titularidade do empregado doméstico</xs:documentation>
                                                <xs:documentation>CONDICAO_GRUPO: O (se {mtvDeslig} = [34]); N (nos demais casos)</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="cpfSubstituto" type="TS_cpf">
                                                        <xs:annotation>
                                                            <xs:documentation>Preencher com o CPF do novo titular.</xs:documentation>
                                                            <xs:documentation>Validação: Deve ser um CPF válido e diferente do CPF do declarante e do empregado.</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="dtNascto" type="xs:date">
                                                        <xs:annotation>
                                                            <xs:documentation>Preencher com a data de nascimento do novo titular.</xs:documentation>
                                                            <xs:documentation>Validação: Deve corresponder à data de nascimento cadastrada na base de dados do CPF do {cpfSubstituto}.</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="mudancaCPF" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation>Informação do novo CPF do trabalhador</xs:documentation>
                                                <xs:documentation>CONDICAO_GRUPO: O (se {mtvDeslig} = [36]); N (nos demais casos)</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="novoCPF" type="TS_cpf">
                                                        <xs:annotation>
                                                            <xs:documentation>Preencher com o novo CPF do trabalhador.</xs:documentation>
                                                            <xs:documentation>Validação: Deve ser um CPF válido e diferente do CPF do empregador e do antigo CPF do trabalhador.</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="verbasResc" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation>Verbas Rescisórias</xs:documentation>
                                                <xs:documentation>CONDICAO_GRUPO: N (se {mtvDeslig} = [11, 12, 13, 25, 28, 29, 30, 34, 36] OU se {dtDeslig} for anterior ao início de obrigatoriedade dos eventos periódicos para o empregador) OU se {tpRegTrab} = [2]); OC (nos demais casos)</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="dmDev" maxOccurs="50">
                                                        <xs:annotation>
                                                            <xs:documentation>Demonstrativos de valores devidos ao trabalhador</xs:documentation>
                                                            <xs:documentation>CHAVE_GRUPO: {ideDmDev}</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="ideDmDev" type="TS_codigo_esocial">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Identificador atribuído pela empresa para o demonstrativo de valores devidos ao trabalhador relativo a verbas rescisórias.</xs:documentation>
                                                                        <xs:documentation>Validação: Deve ser um identificador único dentro da mesma competência para cada um dos demonstrativos de pagamento gerados no presente arquivo de rescisão contratual.</xs:documentation>
                                                                        <xs:documentation>REGRA:REGRA_CARACTER_ESPECIAL</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="infoPerApur" minOccurs="0">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Verbas rescisórias relativas ao mês da data do desligamento</xs:documentation>
                                                                        <xs:documentation>CONDICAO_GRUPO: O (se não existir o grupo {infoPerAnt}); OC (nos demais casos)</xs:documentation>
                                                                    </xs:annotation>
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="ideEstabLot" maxOccurs="24">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Identificação do estabelecimento e lotação</xs:documentation>
                                                                                    <xs:documentation>CHAVE_GRUPO: {tpInsc}, {nrInsc}, {codLotacao}</xs:documentation>
                                                                                </xs:annotation>
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element name="tpInsc" type="TS_tpInsc_1_2_3_4">
                                                                                            <xs:annotation>
                                                                                                <xs:documentation>Preencher com o código correspondente ao tipo de inscrição do estabelecimento, de acordo com as opções da Tabela 05.</xs:documentation>
                                                                                                <xs:documentation>Validação: Se {classTrib} igual a [21], deve ser igual a [3,4], exceto se empregador doméstico.</xs:documentation>
                                                                                                <xs:documentation>Se {classTrib} igual a [22], caso não seja empregador doméstico, deve ser igual a [3, 4] e, se for igual a [3], o CAEPF deve constar na Tabela S-1005 como sendo de segurado especial. Se empregador doméstico (trabalhador com {codCateg} = [104]), deve ser igual a [2].</xs:documentation>
                                                                                                <xs:documentation>Nos demais casos ({classTrib} diferente de [21,22]), deve ser igual a [1,4].</xs:documentation>
                                                                                            </xs:annotation>
                                                                                        </xs:element>
                                                                                        <xs:element name="nrInsc" type="TS_nrInsc_11_12_14">
                                                                                            <xs:annotation>
                                                                                                <xs:documentation>Informar o número de inscrição do contribuinte de acordo com o tipo de inscrição indicado no campo {tpInsc}.</xs:documentation>
                                                                                                <xs:documentation>Validação: A inscrição informada deve ser compatível com {tpInsc}. Se {tpInsc} igual a [1, 3, 4] deve constar na Tabela S-1005.</xs:documentation>
                                                                                            </xs:annotation>
                                                                                        </xs:element>
                                                                                        <xs:element name="codLotacao" type="TS_codigo_esocial">
                                                                                            <xs:annotation>
                                                                                                <xs:documentation>Informar o código atribuído pela empresa para a lotação tributária.</xs:documentation>
                                                                                                <xs:documentation>Validação: Deve ser um código existente em S-1020 - Tabela de Lotações Tributárias.</xs:documentation>
                                                                                            </xs:annotation>
                                                                                        </xs:element>
                                                                                        <xs:element name="detVerbas" maxOccurs="200">
                                                                                            <xs:annotation>
                                                                                                <xs:documentation>Detalhamento das verbas rescisórias</xs:documentation>
                                                                                            </xs:annotation>
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element name="codRubr" type="TS_codigo_esocial">
                                                                                                        <xs:annotation>
                                                                                                            <xs:documentation>Informar o código atribuído pelo empregador e que identifica a rubrica em sua folha de pagamento.</xs:documentation>
                                                                                                            <xs:documentation>Validação: O código informado deve existir na Tabela S-1010 - Tabela de Rubricas, vigente no mês da data do desligamento, informada no campo {dtDeslig}.</xs:documentation>
                                                                                                        </xs:annotation>
                                                                                                    </xs:element>
                                                                                                    <xs:element name="ideTabRubr" type="TS_ideTabRubr">
                                                                                                        <xs:annotation>
                                                                                                            <xs:documentation>Preencher com o identificador da Tabela de Rubricas, conforme informado em S-1010, para a rubrica definida em {codRubr}.</xs:documentation>
                                                                                                            <xs:documentation>Validação: Deve existir na Tabela S-1010 (em conjunto com {codRubr}) vigente no mês da data do desligamento, informada no campo {dtDeslig}.</xs:documentation>
                                                                                                        </xs:annotation>
                                                                                                    </xs:element>
                                                                                                    <xs:element name="qtdRubr" minOccurs="0" type="TS_qtdRubr" />
                                                                                                    <xs:element name="fatorRubr" minOccurs="0" type="TS_fator" />
                                                                                                    <xs:element name="vrRubr" type="TS_vrRubr" />
                                                                                                    <xs:element name="indApurIR" type="TS_indApurIR" minOccurs="0">
                                                                                                        <xs:annotation>
                                                                                                            <xs:documentation>Indicativo de tipo de apuração de IR.</xs:documentation>
                                                                                                            <xs:documentation>Validação: Informação obrigatória e se mês/ano de {dtDeslig} >= [2020-09].</xs:documentation>
                                                                                                        </xs:annotation>
                                                                                                    </xs:element>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                        <xs:element name="infoAgNocivo" minOccurs="0">
                                                                                            <xs:annotation>
                                                                                                <xs:documentation>Grau de Exposição a Agentes Nocivos</xs:documentation>
                                                                                                <xs:documentation>CONDICAO_GRUPO: O (se o trabalhador estiver amparado pelo RGPS); N (nos demais casos)</xs:documentation>
                                                                                            </xs:annotation>
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element name="grauExp" type="TS_grauExp" />
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                        <xs:element name="infoSimples" minOccurs="0">
                                                                                            <xs:annotation>
                                                                                                <xs:documentation>Informação relativa a empresas do Simples</xs:documentation>
                                                                                                <xs:documentation>CONDICAO_GRUPO: O (se {classTrib} = [03]); N (nos demais casos)</xs:documentation>
                                                                                            </xs:annotation>
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element name="indSimples" type="TS_indSimples">
                                                                                                        <xs:annotation>
                                                                                                            <xs:documentation>Indicador de Contribuição Substituída.</xs:documentation>
                                                                                                        </xs:annotation>
                                                                                                    </xs:element>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="infoPerAnt" minOccurs="0">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Remuneração em Períodos Anteriores (Acordo/Convenção/CCP/Dissídio)</xs:documentation>
                                                                        <xs:documentation>CONDICAO_GRUPO: O (se não existir o grupo {infoPerApur}); OC (nos demais casos)</xs:documentation>
                                                                    </xs:annotation>
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="ideADC" maxOccurs="8">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Identificação do Acordo/Legislação/Convenção/CCP/Dissídio/Conversão</xs:documentation>
                                                                                    <xs:documentation>CHAVE_GRUPO: {dtAcConv}, {tpAcConv}</xs:documentation>
                                                                                </xs:annotation>
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element name="dtAcConv" minOccurs="0">
                                                                                            <xs:simpleType>
                                                                                                <xs:annotation>
                                                                                                    <xs:documentation>Data da assinatura do acordo, convenção coletiva, sentença normativa ou da conversão da licença saúde em acidente de trabalho.</xs:documentation>
                                                                                                    <xs:documentation>Validação: Informação obrigatória se {tpAcConv} = [A, B, C, D, E]. Se preenchida, seu mês/ano deve ser igual ou anterior ao mês/ano da data de desligamento, em {dtDeslig}. A data deve ser igual ou posterior a 01/01/1890.</xs:documentation>
                                                                                                </xs:annotation>
                                                                                                <xs:restriction base="xs:date">
                                                                                                    <xs:minInclusive value="1890-01-01" />
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                        <xs:element name="tpAcConv">
                                                                                            <xs:simpleType>
                                                                                                <xs:annotation>
                                                                                                    <xs:documentation>Tipo do instrumento ou situação ensejadora da remuneração relativa a Períodos de Apuração Anteriores.</xs:documentation>
                                                                                                </xs:annotation>
                                                                                                <xs:restriction base="xs:string">
                                                                                                    <xs:enumeration value="A">
                                                                                                        <xs:annotation>
                                                                                                            <xs:documentation>Acordo Coletivo de Trabalho</xs:documentation>
                                                                                                        </xs:annotation>
                                                                                                    </xs:enumeration>
                                                                                                    <xs:enumeration value="B">
                                                                                                        <xs:annotation>
                                                                                                            <xs:documentation>Legislação federal, estadual, municipal ou distrital</xs:documentation>
                                                                                                        </xs:annotation>
                                                                                                    </xs:enumeration>
                                                                                                    <xs:enumeration value="C">
                                                                                                        <xs:annotation>
                                                                                                            <xs:documentation>Convenção Coletiva de Trabalho</xs:documentation>
                                                                                                        </xs:annotation>
                                                                                                    </xs:enumeration>
                                                                                                    <xs:enumeration value="D">
                                                                                                        <xs:annotation>
                                                                                                            <xs:documentation>Sentença Normativa - Dissídio</xs:documentation>
                                                                                                        </xs:annotation>
                                                                                                    </xs:enumeration>
                                                                                                    <xs:enumeration value="E">
                                                                                                        <xs:annotation>
                                                                                                            <xs:documentation>Conversão de Licença Saúde em Acidente de Trabalho</xs:documentation>
                                                                                                        </xs:annotation>
                                                                                                    </xs:enumeration>
                                                                                                    <xs:enumeration value="G">
                                                                                                        <xs:annotation>
                                                                                                            <xs:documentation>Antecipação de diferenças de Acordo, Convenção ou Dissídio Coletivo</xs:documentation>
                                                                                                        </xs:annotation>
                                                                                                    </xs:enumeration>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                        <xs:element name="dsc" type="TS_texto_255">
                                                                                            <xs:annotation>
                                                                                                <xs:documentation>Detalhamento do instrumento ou situação que originou o pagamento das verbas relativas a períodos anteriores.</xs:documentation>
                                                                                            </xs:annotation>
                                                                                        </xs:element>
                                                                                        <xs:element name="idePeriodo" maxOccurs="180">
                                                                                            <xs:annotation>
                                                                                                <xs:documentation>Identificação do período de referência da remuneração</xs:documentation>
                                                                                                <xs:documentation>CHAVE_GRUPO: {perRef}</xs:documentation>
                                                                                            </xs:annotation>
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element name="perRef" type="TS_periodo_mensal">
                                                                                                        <xs:annotation>
                                                                                                            <xs:documentation>Informar o período ao qual se refere o complemento de remuneração no formato AAAA-MM.</xs:documentation>
                                                                                                            <xs:documentation>Validação: Deve ser igual ou anterior ao mês da data do desligamento, informada em {dtDeslig}.</xs:documentation>
                                                                                                        </xs:annotation>
                                                                                                    </xs:element>
                                                                                                    <xs:element name="ideEstabLot" maxOccurs="24">
                                                                                                        <xs:annotation>
                                                                                                            <xs:documentation>Identificação do estabelecimento e lotação</xs:documentation>
                                                                                                            <xs:documentation>CHAVE_GRUPO: {tpInsc}, {nrInsc}, {codLotacao}</xs:documentation>
                                                                                                        </xs:annotation>
                                                                                                        <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                <xs:element name="tpInsc" type="TS_tpInsc_1_2_3_4">
                                                                                                                    <xs:annotation>
                                                                                                                        <xs:documentation>Preencher com o código correspondente ao tipo de inscrição do estabelecimento, de acordo com as opções da Tabela 05.</xs:documentation>
                                                                                                                        <xs:documentation>Validação: Se {classTrib} igual a [21], deve ser igual a [3,4], exceto se empregador doméstico.</xs:documentation>
                                                                                                                        <xs:documentation>Se {classTrib} igual a [22], caso não seja empregador doméstico, deve ser igual a [3, 4] e, se for igual a [3], o CAEPF deve constar na Tabela S-1005 como sendo de segurado especial.</xs:documentation>
                                                                                                                        <xs:documentation>Se empregador doméstico (trabalhador com {codCateg} = [104]), deve ser igual a [2].</xs:documentation>
                                                                                                                        <xs:documentation>Nos demais casos ({classTrib} diferente de [21,22]), deve ser igual a [1,4].</xs:documentation>
                                                                                                                    </xs:annotation>
                                                                                                                </xs:element>
                                                                                                                <xs:element name="nrInsc" type="TS_nrInsc_11_12_14">
                                                                                                                    <xs:annotation>
                                                                                                                        <xs:documentation>Informar o número de inscrição do contribuinte de acordo com o tipo de inscrição indicado no campo {tpInsc}.</xs:documentation>
                                                                                                                        <xs:documentation>Validação: A inscrição informada deve ser compatível com {tpInsc}. Se {tpInsc} igual a [1, 3, 4] deve constar na Tabela S-1005.</xs:documentation>
                                                                                                                    </xs:annotation>
                                                                                                                </xs:element>
                                                                                                                <xs:element name="codLotacao" type="TS_codigo_esocial">
                                                                                                                    <xs:annotation>
                                                                                                                        <xs:documentation>Informar o código atribuído pela empresa para a lotação tributária.</xs:documentation>
                                                                                                                        <xs:documentation>Validação: Deve ser um código existente em S-1020 - Tabela de Lotações Tributárias.</xs:documentation>
                                                                                                                    </xs:annotation>
                                                                                                                </xs:element>
                                                                                                                <xs:element name="detVerbas" maxOccurs="200">
                                                                                                                    <xs:annotation>
                                                                                                                        <xs:documentation>Itens da Remuneração do Trabalhador</xs:documentation>
                                                                                                                    </xs:annotation>
                                                                                                                    <xs:complexType>
                                                                                                                        <xs:sequence>
                                                                                                                            <xs:element name="codRubr" type="TS_codigo_esocial">
                                                                                                                                <xs:annotation>
                                                                                                                                    <xs:documentation>Informar o código atribuído pelo empregador e que identifica a rubrica em sua folha de pagamento.</xs:documentation>
                                                                                                                                    <xs:documentation>Validação: O código informado deve existir na Tabela S-1010 - Tabela de Rubricas vigente no mês de referência, informado em {perRef}.</xs:documentation>
                                                                                                                                </xs:annotation>
                                                                                                                            </xs:element>
                                                                                                                            <xs:element name="ideTabRubr" type="TS_ideTabRubr">
                                                                                                                                <xs:annotation>
                                                                                                                                    <xs:documentation>Preencher com o identificador da Tabela de Rubricas, conforme informado em S-1010, para a rubrica definida em {codRubr}.</xs:documentation>
                                                                                                                                    <xs:documentation>Validação: Deve existir na Tabela S-1010 (em conjunto com {codRubr}) vigente no período indicado em {perRef}.</xs:documentation>
                                                                                                                                </xs:annotation>
                                                                                                                            </xs:element>
                                                                                                                            <xs:element name="qtdRubr" minOccurs="0" type="TS_qtdRubr" />
                                                                                                                            <xs:element name="fatorRubr" minOccurs="0" type="TS_fator" />
                                                                                                                            <xs:element name="vrRubr" type="TS_vrRubr" />
                                                                                                                            <xs:element name="indApurIR" type="TS_indApurIR" minOccurs="0">
                                                                                                                                <xs:annotation>
                                                                                                                                    <xs:documentation>Indicativo de tipo de apuração de IR.</xs:documentation>
                                                                                                                                    <xs:documentation>Validação: Informação obrigatória e se mês/ano de {dtDeslig} >= [2020-09].</xs:documentation>
                                                                                                                                </xs:annotation>
                                                                                                                            </xs:element>
                                                                                                                        </xs:sequence>
                                                                                                                    </xs:complexType>
                                                                                                                </xs:element>
                                                                                                                <xs:element name="infoAgNocivo" minOccurs="0">
                                                                                                                    <xs:annotation>
                                                                                                                        <xs:documentation>Grau de Exposição a Agentes Nocivos</xs:documentation>
                                                                                                                        <xs:documentation>CONDICAO_GRUPO: O (se o trabalhador estiver amparado pelo RGPS); N (nos demais casos)</xs:documentation>
                                                                                                                    </xs:annotation>
                                                                                                                    <xs:complexType>
                                                                                                                        <xs:sequence>
                                                                                                                            <xs:element name="grauExp" type="TS_grauExp" />
                                                                                                                        </xs:sequence>
                                                                                                                    </xs:complexType>
                                                                                                                </xs:element>
                                                                                                                <xs:element name="infoSimples" minOccurs="0">
                                                                                                                    <xs:annotation>
                                                                                                                        <xs:documentation>Informação relativa a empresas do Simples</xs:documentation>
                                                                                                                        <xs:documentation>CONDICAO_GRUPO: O (se {classTrib} = [03]); N (nos demais casos)</xs:documentation>
                                                                                                                    </xs:annotation>
                                                                                                                    <xs:complexType>
                                                                                                                        <xs:sequence>
                                                                                                                            <xs:element name="indSimples" type="TS_indSimples">
                                                                                                                                <xs:annotation>
                                                                                                                                    <xs:documentation>Indicador de Contribuição Substituída.</xs:documentation>
                                                                                                                                </xs:annotation>
                                                                                                                            </xs:element>
                                                                                                                        </xs:sequence>
                                                                                                                    </xs:complexType>
                                                                                                                </xs:element>
                                                                                                            </xs:sequence>
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="procJudTrab" minOccurs="0" maxOccurs="99" type="T_procJudTrab" />
                                                    <xs:element name="infoMV" type="T_infoMV" minOccurs="0" />
                                                    <xs:element name="procCS" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>Informação sobre processo judicial que suspende a exigibilidade da Contribuição Social Rescisória</xs:documentation>
                                                            <xs:documentation>CONDICAO_GRUPO: OC</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="nrProcJud" type="TS_nrProcJud">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Informar um número de processo judicial.</xs:documentation>
                                                                        <xs:documentation>Validação: Deve ser um número de processo judicial válido e existente na Tabela de Processos (S-1070), com {indMatProc} = [1, 7].</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="quarentena" minOccurs="0" type="T_quarentena" />
                                        <xs:element name="consigFGTS" minOccurs="0" maxOccurs="99">
                                            <xs:annotation>
                                                <xs:documentation>Informações sobre operação de crédito consignado com garantia de FGTS</xs:documentation>
                                                <xs:documentation>CONDICAO_GRUPO: OC</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="insConsig">
                                                        <xs:simpleType>
                                                            <xs:annotation>
                                                                <xs:documentation>Matrícula da Instituição Consignatária, cadastrada na Caixa Econômica Federal.</xs:documentation>
                                                            </xs:annotation>
                                                            <xs:restriction base="xs:string">
                                                                <xs:minLength value="1" />
                                                                <xs:maxLength value="5" />
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="nrContr">
                                                        <xs:simpleType>
                                                            <xs:annotation>
                                                                <xs:documentation>Número do contrato de empréstimo consignado existente na Instituição Consignatária.</xs:documentation>
                                                            </xs:annotation>
                                                            <xs:restriction base="xs:string">
                                                                <xs:pattern value="\d{1,40}" />
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Id" use="required" type="TS_Id" />
                    </xs:complexType>
                </xs:element>
                <xs:element ref="ds:Signature" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>