evtInfoEmpregador.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns="http://www.esocial.gov.br/schema/evt/evtInfoEmpregador/v01_00_00" targetNamespace="http://www.esocial.gov.br/schema/evt/evtInfoEmpregador/v01_00_00" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:include schemaLocation="tipos.xsd" />
    <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd" />
    <xs:element name="eSocial">
        <xs:annotation>
            <xs:documentation>S-1000 - Informações do Empregador/Contribuinte/Órgão Público</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="evtInfoEmpregador">
                    <xs:annotation>
                        <xs:documentation>Evento de informações do empregador</xs:documentation>
                        <xs:documentation>CHAVE_GRUPO: {Id}</xs:documentation>
                        <xs:documentation>REGRA:REGRA_ENVIO_PROC_FECHAMENTO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_INFO_EMP_PERIODO_CONFLITANTE</xs:documentation>
                        <xs:documentation>REGRA:REGRA_INFO_EMP_VALIDA_CLASSTRIB_NATJURID</xs:documentation>
                        <xs:documentation>REGRA:REGRA_INFO_EMP_VALIDA_DTINICIAL</xs:documentation>
                        <xs:documentation>REGRA:REGRA_TAB_PERMITE_EXCLUSAO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_VALIDA_DT_FUTURA</xs:documentation>
                        <xs:documentation>REGRA:REGRA_VALIDA_EMPREGADOR</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ideEvento" type="T_ideEvento_evtTab" />
                            <xs:element name="ideEmpregador">
                                <xs:annotation>
                                    <xs:documentation>Informações de identificação do empregador</xs:documentation>
                                    <xs:documentation>CHAVE_GRUPO: {tpInsc}, {nrInsc}</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="tpInsc" type="TS_tpInsc_1_2" />
                                        <xs:element name="nrInsc" type="TS_nrInsc_8_11_14">
                                            <xs:annotation>
                                                <xs:documentation>Número de Inscrição</xs:documentation>
                                                <xs:documentation>Informar o número de inscrição do contribuinte de acordo com o tipo de inscrição indicado no campo {tpInsc}.</xs:documentation>
                                                <xs:documentation>Validação: Se {tpInsc} for igual a [1], deve ser um número de CNPJ válido. Neste caso, deve ser informada apenas a raiz/base (8 posições), exceto se natureza jurídica do declarante for igual a ([1015, 1040, 1074, 1104, 1139, 1163, 1198, 1252, 1287, 1317, 1341]), situação em que o campo deve ser preenchido com o CNPJ completo (14 posições). Se {tpInsc} for igual a [2], deve ser um CPF válido.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="infoEmpregador">
                                <xs:annotation>
                                    <xs:documentation>Informações do Empregador</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:choice>
                                            <xs:element name="inclusao">
                                                <xs:annotation>
                                                    <xs:documentation>Inclusão de novas informações</xs:documentation>
                                                    <xs:documentation>CONDICAO_GRUPO: OC</xs:documentation>
                                                </xs:annotation>
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="idePeriodo" type="T_novaValidade">
                                                            <xs:annotation>
                                                                <xs:documentation>Período de validade das informações</xs:documentation>
                                                                <xs:documentation>CHAVE_GRUPO: {iniValid}, {fimValid}</xs:documentation>
                                                            </xs:annotation>
                                                        </xs:element>
                                                        <xs:element name="infoCadastro" type="T_infoCadastro" />
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="alteracao">
                                                <xs:annotation>
                                                    <xs:documentation>Alteração das informações</xs:documentation>
                                                    <xs:documentation>CONDICAO_GRUPO: OC</xs:documentation>
                                                </xs:annotation>
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="idePeriodo" type="T_novaValidade">
                                                            <xs:annotation>
                                                                <xs:documentation>Período de validade das informações</xs:documentation>
                                                                <xs:documentation>CHAVE_GRUPO: {iniValid}, {fimValid}</xs:documentation>
                                                            </xs:annotation>
                                                        </xs:element>
                                                        <xs:element name="infoCadastro" type="T_infoCadastro" />
                                                        <xs:element name="novaValidade" type="T_novaValidade" minOccurs="0" />
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="exclusao">
                                                <xs:annotation>
                                                    <xs:documentation>Exclusão das informações</xs:documentation>
                                                    <xs:documentation>CONDICAO_GRUPO: OC</xs:documentation>
                                                </xs:annotation>
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="idePeriodo" type="T_novaValidade">
                                                            <xs:annotation>
                                                                <xs:documentation>Período de validade das informações</xs:documentation>
                                                                <xs:documentation>CHAVE_GRUPO: {iniValid}, {fimValid}</xs:documentation>
                                                            </xs:annotation>
                                                        </xs:element>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:choice>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Id" use="required" type="TS_Id" />
                    </xs:complexType>
                </xs:element>
                <xs:element ref="ds:Signature" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="T_infoCadastro">
        <xs:annotation>
            <xs:documentation>Detalhamento das informações do empregador</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="classTrib">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:documentation>Classificação tributária</xs:documentation>
                        <xs:documentation>Validação: Deve ser um dos códigos existentes na Tabela 08. Os códigos [21] e [22] somente podem ser utilizados se {tpInsc} for igual a [2]. Para os demais códigos, {tpInsc} deve ser igual a [1].</xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="\d{2}" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="indCoop" minOccurs="0">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:documentation>Indicativo de Cooperativa</xs:documentation>
                        <xs:documentation>Validação: O preenchimento do campo é exclusivo e obrigatório para PJ. Somente pode ser diferente de ZERO se a natureza jurídica do declarante for igual a [2143].</xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:byte">
                        <xs:enumeration value="0">
                            <xs:annotation>
                                <xs:documentation>Não é cooperativa</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="1">
                            <xs:annotation>
                                <xs:documentation>Cooperativa de Trabalho</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="2">
                            <xs:annotation>
                                <xs:documentation>Cooperativa de Produção</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="3">
                            <xs:annotation>
                                <xs:documentation>Outras Cooperativas</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="indConstr" minOccurs="0">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:documentation>Indicativo de Construtora</xs:documentation>
                        <xs:documentation>Validação: O preenchimento do campo é exclusivo e obrigatório para PJ. Valores Válidos: 0, 1.</xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:byte">
                        <xs:enumeration value="0">
                            <xs:annotation>
                                <xs:documentation>Não é Construtora</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="1">
                            <xs:annotation>
                                <xs:documentation>Empresa Construtora</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="indDesFolha">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:documentation>Indicativo de Desoneração da Folha</xs:documentation>
                        <xs:documentation>Validação: Pode ser igual a [1] apenas se a classificação tributária for igual a [02, 03, 99]. Nos demais casos, deve ser igual a [0].</xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:byte">
                        <xs:enumeration value="0">
                            <xs:annotation>
                                <xs:documentation>Não Aplicável</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="1">
                            <xs:annotation>
                                <xs:documentation>Empresa enquadrada nos art. 7º a 9º da Lei 12.546/2011</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="indOpcCP" minOccurs="0">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:documentation>Indicativo da opção pelo produtor rural pela forma de tributação da contribuição previdenciária, nos termos do art. 25, §13, da Lei 8.212/1991 e do art. 25, §7°, da Lei 8.870/1994. O não preenchimento deste campo por parte do produtor rural implica opção pela comercialização da sua produção.</xs:documentation>
                        <xs:documentation>Validação: Não preencher se ({classTrib} diferente de [07, 08, 21]).</xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:byte">
                        <xs:enumeration value="1">
                            <xs:annotation>
                                <xs:documentation>Sobre a comercialização da sua produção</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="2">
                            <xs:annotation>
                                <xs:documentation>Sobre a folha de pagamento</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="indPorte" minOccurs="0">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:documentation>Indicativo de microempresa (ME) ou empresa de pequeno porte (EPP) para permissão de acesso ao módulo simplificado (não preencher caso o usuário não se enquadre como micro ou pequena empresa)</xs:documentation>
                        <xs:documentation>Validação: Não preencher se {classTrib} = [21, 22].</xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="S">
                            <xs:annotation>
                                <xs:documentation>Sim</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="indOptRegEletron">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:documentation>Opção pelo registro eletrônico de empregados</xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:byte">
                        <xs:enumeration value="0">
                            <xs:annotation>
                                <xs:documentation>Não optou pelo registro eletrônico de empregados</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="1">
                            <xs:annotation>
                                <xs:documentation>Optou pelo registro eletrônico de empregados</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="cnpjEFR" minOccurs="0" type="TS_cnpj">
                <xs:annotation>
                    <xs:documentation>CNPJ do Ente Federativo Responsável - EFR</xs:documentation>
                    <xs:documentation>Validação: Preenchimento obrigatório e exclusivo se a natureza jurídica do declarante for Administração Pública (grupo [1]). Nesse caso, informar o campo com 14 (catorze) algarismos. Informação validada no cadastro do CNPJ da RFB.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dadosIsencao" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Informações Complementares - Empresas Isentas - Dados da Isenção</xs:documentation>
                    <xs:documentation>CONDICAO_GRUPO: OC (se {classTrib} = [80]); N (nos demais casos)</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ideMinLei">
                            <xs:simpleType>
                                <xs:annotation>
                                    <xs:documentation>Sigla e nome do Ministério ou Lei que concedeu o Certificado</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="1" />
                                    <xs:maxLength value="70" />
                                    <xs:pattern value=".*[^\s].*" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="nrCertif">
                            <xs:simpleType>
                                <xs:annotation>
                                    <xs:documentation>Número do Certificado de Entidade Beneficente de Assistência Social (CEBAS), número da portaria de concessão do Certificado, ou, no caso de concessão através de Lei específica, o número da Lei.</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="1" />
                                    <xs:maxLength value="40" />
                                    <xs:pattern value=".*[^\s].*" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="dtEmisCertif" type="xs:date">
                            <xs:annotation>
                                <xs:documentation>Data de Emissão do Certificado/publicação da Lei</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="dtVencCertif" type="xs:date">
                            <xs:annotation>
                                <xs:documentation>Data de vencimento do Certificado</xs:documentation>
                                <xs:documentation>Validação: Não pode ser anterior a {dtEmisCertif}.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="nrProtRenov" minOccurs="0">
                            <xs:simpleType>
                                <xs:annotation>
                                    <xs:documentation>Número do protocolo do pedido de renovação</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="1" />
                                    <xs:maxLength value="40" />
                                    <xs:pattern value=".*[^\s].*" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="dtProtRenov" type="xs:date" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Data do protocolo de renovação</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="dtDou" type="xs:date" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Data de publicação no Diário Oficial da União</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="pagDou" minOccurs="0">
                            <xs:simpleType>
                                <xs:annotation>
                                    <xs:documentation>Número da página no DOU referente à publicação do documento de concessão do Certificado</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:integer">
                                    <xs:pattern value="\d{1,5}" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="infoOrgInternacional" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Informações exclusivas de organismos internacionais e outras instituições extraterritoriais</xs:documentation>
                    <xs:documentation>CONDICAO_GRUPO: O (se a natureza jurídica pertencer ao grupo [5]); N (nos demais casos)</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="indAcordoIsenMulta">
                            <xs:simpleType>
                                <xs:annotation>
                                    <xs:documentation>Indicativo da existência de acordo internacional para isenção de multa</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:byte">
                                    <xs:enumeration value="0">
                                        <xs:annotation>
                                            <xs:documentation>Sem acordo</xs:documentation>
                                        </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="1">
                                        <xs:annotation>
                                            <xs:documentation>Com acordo</xs:documentation>
                                        </xs:annotation>
                                    </xs:enumeration>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>