evtTabRubrica.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns="http://www.esocial.gov.br/schema/evt/evtTabRubrica/v03_00_00" targetNamespace="http://www.esocial.gov.br/schema/evt/evtTabRubrica/v03_00_00" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:include schemaLocation="include/ideEvento_evtTab.xsd " />
    <xs:include schemaLocation="include/ideEmpregador_evtTab.xsd" />
    <xs:include schemaLocation="include/periodo_evtTab.xsd" />
    <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd" />
    <xs:element name="eSocial">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="evtTabRubrica">
                    <xs:annotation>
                        <xs:documentation>Evento Tabela de Rubricas</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ideEvento" type="T_ideEvento_evtTab">
                                <xs:annotation>
                                    <xs:documentation>Informações de Identificação do Evento</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="ideEmpregador" type="T_ideEmpregador_evtTab">
                                <xs:annotation>
                                    <xs:documentation>Informações de identificação do empregador</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="infoRubrica">
                                <xs:annotation>
                                    <xs:documentation>Informações da Rubrica</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:choice>
                                            <xs:element name="inclusao">
                                                <xs:annotation>
                                                    <xs:documentation>Inclusão de novas informações</xs:documentation>
                                                </xs:annotation>
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="ideRubrica" type="T_ideRubrica">
                                                            <xs:annotation>
                                                                <xs:documentation>Informações de identificação da rubrica e validade das informações</xs:documentation>
                                                            </xs:annotation>
                                                        </xs:element>
                                                        <xs:element name="dadosRubrica" type="T_dadosRubrica">
                                                            <xs:annotation>
                                                                <xs:documentation>Informações da rubrica</xs:documentation>
                                                            </xs:annotation>
                                                        </xs:element>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="alteracao">
                                                <xs:annotation>
                                                    <xs:documentation>Alteração das informações</xs:documentation>
                                                </xs:annotation>
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="ideRubrica" type="T_ideRubrica">
                                                            <xs:annotation>
                                                                <xs:documentation>Informações de identificação da rubrica</xs:documentation>
                                                            </xs:annotation>
                                                        </xs:element>
                                                        <xs:element name="dadosRubrica" type="T_dadosRubrica">
                                                            <xs:annotation>
                                                                <xs:documentation>Informações da rubrica</xs:documentation>
                                                            </xs:annotation>
                                                        </xs:element>
                                                        <xs:element name="novaValidade" type="T_periodo_evtTab" minOccurs="0">
                                                            <xs:annotation>
                                                                <xs:documentation>Novo período de validade das informações</xs:documentation>
                                                            </xs:annotation>
                                                        </xs:element>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="exclusao">
                                                <xs:annotation>
                                                    <xs:documentation>Exclusão das informações</xs:documentation>
                                                </xs:annotation>
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="ideRubrica" type="T_ideRubrica">
                                                            <xs:annotation>
                                                                <xs:documentation>Identificação da rubrica que será excluída</xs:documentation>
                                                            </xs:annotation>
                                                        </xs:element>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:choice>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Id" type="xs:ID" use="required" />
                    </xs:complexType>
                </xs:element>
                <xs:element ref="ds:Signature" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="T_ideRubrica">
        <xs:annotation>
            <xs:documentation>Identificação da Rubrica e período de validade</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="codRubr">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:documentation>Código da Rubrica</xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:string">
                        <xs:pattern value=".*[^\s].*" />
                        <xs:maxLength value="30" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ideTabRubr">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:documentation>Identificador da tabela de rubricas</xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:string">
                        <xs:pattern value=".*[^\s].*" />
                        <xs:maxLength value="8" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="iniValid">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:documentation>Início da validade (AAAA-MM)</xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[2]{1}\d{3}-(1[0-2]|0[1-9])" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="fimValid" minOccurs="0">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:documentation>Período final da validade, no formato (AAAA-MM)</xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[2]{1}\d{3}-(1[0-2]|0[1-9])" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="T_dadosRubrica">
        <xs:annotation>
            <xs:documentation>Informações da Rubrica</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="dscRubr">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:documentation>Descrição (nome) da rubrica no sistema de folha de pagamento</xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:string">
                        <xs:pattern value=".*[^\s].*" />
                        <xs:maxLength value="100" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="natRubr">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:documentation>Código de Classificação da Rubrica</xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:integer">
                        <xs:pattern value="\d{4}" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="tpRubr">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:documentation>Tipo de rubrica</xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:byte">
                        <xs:enumeration value="1">
                            <xs:annotation>
                                <xs:documentation>Vencimento, provento ou pensão</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="2">
                            <xs:annotation>
                                <xs:documentation>Desconto</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="3">
                            <xs:annotation>
                                <xs:documentation>Informativa</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="4">
                            <xs:annotation>
                                <xs:documentation>Informativa dedutora</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="codIncCP">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:documentation>Incidência para a Previdência Social</xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="00">
                            <xs:annotation>
                                <xs:documentation>Não é base de cálculo</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="01">
                            <xs:annotation>
                                <xs:documentation>Não é base de cálculo em função de acordos internacionais de previdência social</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="11">
                            <xs:annotation>
                                <xs:documentation>Mensal</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="12">
                            <xs:annotation>
                                <xs:documentation>13º Salário</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="13">
                            <xs:annotation>
                                <xs:documentation>Exclusiva do Empregador - mensal</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="14">
                            <xs:annotation>
                                <xs:documentation>Exclusiva do Empregador - 13° salário</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="15">
                            <xs:annotation>
                                <xs:documentation>Exclusiva do segurado - mensal</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="16">
                            <xs:annotation>
                                <xs:documentation>Exclusiva do segurado - 13° salário</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="21">
                            <xs:annotation>
                                <xs:documentation>Salário maternidade mensal pago pelo Empregador</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="22">
                            <xs:annotation>
                                <xs:documentation>Salário maternidade - 13º Salário, pago pelo Empregador</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="25">
                            <xs:annotation>
                                <xs:documentation>Salário maternidade mensal pago pelo INSS</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="26">
                            <xs:annotation>
                                <xs:documentation>Salário maternidade - 13° salário, pago pelo INSS</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="31">
                            <xs:annotation>
                                <xs:documentation>Mensal</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="32">
                            <xs:annotation>
                                <xs:documentation>13º Salário</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="34">
                            <xs:annotation>
                                <xs:documentation>SEST</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="35">
                            <xs:annotation>
                                <xs:documentation>SENAT</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="51">
                            <xs:annotation>
                                <xs:documentation>Salário-família</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="91">
                            <xs:annotation>
                                <xs:documentation>Mensal</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="92">
                            <xs:annotation>
                                <xs:documentation>13º Salário</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="93">
                            <xs:annotation>
                                <xs:documentation>Salário maternidade</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="94">
                            <xs:annotation>
                                <xs:documentation>Salário maternidade 13º salário</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="95">
                            <xs:annotation>
                                <xs:documentation>Exclusiva do Empregador - mensal</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="96">
                            <xs:annotation>
                                <xs:documentation>Exclusiva do Empregador - 13º salário</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="97">
                            <xs:annotation>
                                <xs:documentation>Exclusiva do Empregador - Salário maternidade</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="98">
                            <xs:annotation>
                                <xs:documentation>Exclusiva do Empregador - Salário maternidade 13º salário</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="codIncIRRF">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:documentation>Incidência para o IRRF</xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="\d{2}" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="codIncFGTS">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:documentation>Incidência para o FGTS</xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="00">
                            <xs:annotation>
                                <xs:documentation>Não é Base de Cálculo do FGTS</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="11">
                            <xs:annotation>
                                <xs:documentation>Base de Cálculo do FGTS</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="12">
                            <xs:annotation>
                                <xs:documentation>Base de Cálculo do FGTS 13° Salário</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="21">
                            <xs:annotation>
                                <xs:documentation>Base de Cálculo do FGTS Rescisório (Aviso Prévio)</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="91">
                            <xs:annotation>
                                <xs:documentation>Incidência suspensa em decorrência de decisão judicial</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="92">
                            <xs:annotation>
                                <xs:documentation>Incidência suspensa em decorrência de decisão judicial - 13º Salário</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="93">
                            <xs:annotation>
                                <xs:documentation>Incidência suspensa em decorrência de decisão judicial - Rescisório (Aviso Prévio)</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="codIncCPRP" minOccurs="0">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:documentation>Incidência para o CPRP</xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="00">
                            <xs:annotation>
                                <xs:documentation>Não é base de cálculo de contribuições devidas ao RPPS/regime militar</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="11">
                            <xs:annotation>
                                <xs:documentation>Base de cálculo de contribuições devidas ao RPPS/regime militar</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="12">
                            <xs:annotation>
                                <xs:documentation>Base de cálculo de contribuições devidas ao RPPS/regime militar - 13º salário</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="31">
                            <xs:annotation>
                                <xs:documentation>Contribuição descontada do segurado e beneficiário</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="32">
                            <xs:annotation>
                                <xs:documentation>Contribuição descontada do segurado e beneficiário - 13º salário</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="91">
                            <xs:annotation>
                                <xs:documentation>Suspensão de incidência em decorrência de decisão judicial</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="tetoRemun" minOccurs="0">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:documentation>Compõe o teto remuneratório específico (art 37, XI, da CF/1988)</xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[N|S]" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="observacao" minOccurs="0">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:documentation>Observação</xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:string">
                        <xs:pattern value=".*[^\s].*" />
                        <xs:maxLength value="255" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ideProcessoCP" minOccurs="0" maxOccurs="99">
                <xs:annotation>
                    <xs:documentation>Identificação de Processo - Incidência de Contrib. Previdenciária</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="tpProc">
                            <xs:simpleType>
                                <xs:annotation>
                                    <xs:documentation>Tipo de Processo</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:byte">
                                    <xs:enumeration value="1">
                                        <xs:annotation>
                                            <xs:documentation>Administrativo</xs:documentation>
                                        </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="2">
                                        <xs:annotation>
                                            <xs:documentation>Judicial</xs:documentation>
                                        </xs:annotation>
                                    </xs:enumeration>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="nrProc">
                            <xs:simpleType>
                                <xs:annotation>
                                    <xs:documentation>Número do Processo</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:string">
                                    <xs:pattern value="\d{17}|\d{20}|\d{21}" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="extDecisao">
                            <xs:simpleType>
                                <xs:annotation>
                                    <xs:documentation>Extensão da Decisão/Sentença</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:byte">
                                    <xs:enumeration value="1">
                                        <xs:annotation>
                                            <xs:documentation>Contribuição Previdenciária Patronal</xs:documentation>
                                        </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="2">
                                        <xs:annotation>
                                            <xs:documentation>Contribuição Previdenciária Patronal + Descontada dos Segurados</xs:documentation>
                                        </xs:annotation>
                                    </xs:enumeration>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="codSusp">
                            <xs:simpleType>
                                <xs:annotation>
                                    <xs:documentation>Código do Indicativo da Suspensão</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:integer">
                                    <xs:pattern value="\d{1,14}" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ideProcessoIRRF" minOccurs="0" maxOccurs="99">
                <xs:annotation>
                    <xs:documentation>Identificação de Processo - Incidência de IRRF</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="nrProc">
                            <xs:simpleType>
                                <xs:annotation>
                                    <xs:documentation>Número do Processo</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:string">
                                    <xs:pattern value="\d{20}" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="codSusp">
                            <xs:simpleType>
                                <xs:annotation>
                                    <xs:documentation>Código do Indicativo da Suspensão</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:integer">
                                    <xs:pattern value="\d{1,14}" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ideProcessoFGTS" minOccurs="0" maxOccurs="99">
                <xs:annotation>
                    <xs:documentation>Identificação de Processo - Incidência de FGTS</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="nrProc">
                            <xs:simpleType>
                                <xs:annotation>
                                    <xs:documentation>Número do Processo</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:string">
                                    <xs:pattern value="\d{20}" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>