evtTabProcesso.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns="http://www.esocial.gov.br/schema/evt/evtTabProcesso/v01_00_00" targetNamespace="http://www.esocial.gov.br/schema/evt/evtTabProcesso/v01_00_00" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:include schemaLocation="include/ideEvento_evtTab.xsd " />
    <xs:include schemaLocation="include/ideEmpregador_evtTab.xsd" />
    <xs:include schemaLocation="include/periodo_evtTab.xsd" />
    <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd" />
    <xs:element name="eSocial">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="evtTabProcesso">
                    <xs:annotation>
                        <xs:documentation>Evento Tabela de Processos</xs:documentation>
                        <xs:documentation>REGRA:REGRA_ENVIO_PROC_FECHAMENTO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_EXISTE_INFO_EMPREGADOR</xs:documentation>
                        <xs:documentation>REGRA:REGRA_PERMITE_ALT_EXCL_CODSUSP</xs:documentation>
                        <xs:documentation>REGRA:REGRA_TABGERAL_ALTERACAO_PERIODO_CONFLITANTE</xs:documentation>
                        <xs:documentation>REGRA:REGRA_TABGERAL_EXISTE_REGISTRO_ALTERADO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_TABGERAL_EXISTE_REGISTRO_EXCLUIDO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_TABGERAL_INCLUSAO_PERIODO_CONFLITANTE</xs:documentation>
                        <xs:documentation>REGRA:REGRA_TAB_PERMITE_EXCLUSAO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_VALIDA_DT_FUTURA</xs:documentation>
                        <xs:documentation>REGRA:REGRA_VALIDA_PROCESSO</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ideEvento" type="T_ideEvento_evtTab">
                                <xs:annotation>
                                    <xs:documentation>Informações de Identificação do Evento</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="ideEmpregador" type="T_ideEmpregador_evtTab">
                                <xs:annotation>
                                    <xs:documentation>Informações de identificação do empregador</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="infoProcesso">
                                <xs:annotation>
                                    <xs:documentation>Informações do Processo</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:choice>
                                            <xs:element name="inclusao">
                                                <xs:annotation>
                                                    <xs:documentation>Inclusão de novas informações</xs:documentation>
                                                </xs:annotation>
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="ideProcesso" type="T_ideProcesso">
                                                            <xs:annotation>
                                                                <xs:documentation>Identificação do Processo</xs:documentation>
                                                            </xs:annotation>
                                                        </xs:element>
                                                        <xs:element name="dadosProc" type="T_dadosProc">
                                                            <xs:annotation>
                                                                <xs:documentation>Dados do processo</xs:documentation>
                                                            </xs:annotation>
                                                        </xs:element>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="alteracao">
                                                <xs:annotation>
                                                    <xs:documentation>Alteração das informações</xs:documentation>
                                                </xs:annotation>
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="ideProcesso" type="T_ideProcesso">
                                                            <xs:annotation>
                                                                <xs:documentation>Informações de identificação do Processo</xs:documentation>
                                                            </xs:annotation>
                                                        </xs:element>
                                                        <xs:element name="dadosProc" type="T_dadosProc">
                                                            <xs:annotation>
                                                                <xs:documentation>Dados do processo</xs:documentation>
                                                            </xs:annotation>
                                                        </xs:element>
                                                        <xs:element name="novaValidade" type="T_periodo_evtTab" minOccurs="0">
                                                            <xs:annotation>
                                                                <xs:documentation>Novo período de validade das informações</xs:documentation>
                                                            </xs:annotation>
                                                        </xs:element>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="exclusao">
                                                <xs:annotation>
                                                    <xs:documentation>Exclusão das informações</xs:documentation>
                                                </xs:annotation>
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="ideProcesso" type="T_ideProcesso">
                                                            <xs:annotation>
                                                                <xs:documentation>Identificação do Processo que será excluído</xs:documentation>
                                                            </xs:annotation>
                                                        </xs:element>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:choice>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Id" use="required">
                            <xs:simpleType>
                                <xs:annotation>
                                    <xs:documentation>Identificação única do evento</xs:documentation>
                                    <xs:documentation>REGRA:REGRA_VALIDA_ID_EVENTO</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:ID">
                                    <xs:length value="36" />
                                    <xs:pattern value="ID\d{34}" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element ref="ds:Signature" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="T_ideProcesso">
        <xs:annotation>
            <xs:documentation>Informações de Identificação do Processo e Validade das Informações</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="tpProc">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:documentation>Tipo de Processo</xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:byte">
                        <xs:enumeration value="1">
                            <xs:annotation>
                                <xs:documentation>Administrativo</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="2">
                            <xs:annotation>
                                <xs:documentation>Judicial</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="4">
                            <xs:annotation>
                                <xs:documentation>Processo FAP de exercício anterior a 2019</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="nrProc">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:documentation>Número do Processo</xs:documentation>
                        <xs:documentation>Informar o número do processo administrativo/judicial de acordo com o tipo informado em {tpProc}.</xs:documentation>
                        <xs:documentation>Validação: Deve ser um número de processo válido e: a) Se {tpProc} = [1], deve possuir 17 (dezessete) ou 21 (vinte e um) algarismos; b) Se {tpProc} = [2], deve possuir 20 (vinte) algarismos; c) Se {tpProc} = [4], deve possuir 16 (dezesseis) algarismos.</xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="\d{16}|\d{17}|\d{20}|\d{21}" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="iniValid">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:documentation>Início da validade</xs:documentation>
                        <xs:documentation>Preencher com o mês e ano de início da validade das informações prestadas no evento, no formato AAAA-MM.</xs:documentation>
                        <xs:documentation>Validação: Deve ser uma data válida, igual ou posterior à data de início de obrigatoriedade deste evento para o empregador no eSocial, no formato AAAA-MM.</xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:string">
                        <xs:length value="7" />
                        <xs:pattern value="[2]{1}\d{3}-(1[0-2]|0[1-9])" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="fimValid" minOccurs="0">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:documentation>Fim da validade</xs:documentation>
                        <xs:documentation>Preencher com o mês e ano de término da validade das informações, se houver.</xs:documentation>
                        <xs:documentation>Validação: Se informado, deve estar no formato AAAA-MM e ser um período igual ou posterior a {iniValid}.</xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:string">
                        <xs:length value="7" />
                        <xs:pattern value="[2]{1}\d{3}-(1[0-2]|0[1-9])" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="T_dadosProc">
        <xs:annotation>
            <xs:documentation>Dados do processo</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="indAutoria" minOccurs="0">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:documentation>Autoria da Ação Judicial</xs:documentation>
                        <xs:documentation>Validação: Preenchimento obrigatório se {tpProc} = [2].</xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:byte">
                        <xs:enumeration value="1">
                            <xs:annotation>
                                <xs:documentation>Próprio contribuinte</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="2">
                            <xs:annotation>
                                <xs:documentation>Outra entidade, empresa ou empregado</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="indMatProc">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:documentation>Indicativo da matéria do processo ou alvará judicial</xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:byte">
                        <xs:enumeration value="1">
                            <xs:annotation>
                                <xs:documentation>Exclusivamente tributária ou tributária e FGTS</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="7">
                            <xs:annotation>
                                <xs:documentation>Exclusivamente FGTS e/ou Contribuição Social Rescisória (Lei Complementar 110/2001)</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="observacao" minOccurs="0">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:documentation>Observação</xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:string">
                        <xs:pattern value=".*[^\s].*" />
                        <xs:minLength value="1" />
                        <xs:maxLength value="255" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dadosProcJud" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Informações Complementares do Processo Judicial</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ufVara">
                            <xs:simpleType>
                                <xs:annotation>
                                    <xs:documentation>Identificação da UF da Seção Judiciária</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="AC" />
                                    <xs:enumeration value="AL" />
                                    <xs:enumeration value="AP" />
                                    <xs:enumeration value="AM" />
                                    <xs:enumeration value="BA" />
                                    <xs:enumeration value="CE" />
                                    <xs:enumeration value="DF" />
                                    <xs:enumeration value="ES" />
                                    <xs:enumeration value="GO" />
                                    <xs:enumeration value="MA" />
                                    <xs:enumeration value="MT" />
                                    <xs:enumeration value="MS" />
                                    <xs:enumeration value="MG" />
                                    <xs:enumeration value="PA" />
                                    <xs:enumeration value="PB" />
                                    <xs:enumeration value="PR" />
                                    <xs:enumeration value="PE" />
                                    <xs:enumeration value="PI" />
                                    <xs:enumeration value="RJ" />
                                    <xs:enumeration value="RN" />
                                    <xs:enumeration value="RS" />
                                    <xs:enumeration value="RO" />
                                    <xs:enumeration value="RR" />
                                    <xs:enumeration value="SC" />
                                    <xs:enumeration value="SP" />
                                    <xs:enumeration value="SE" />
                                    <xs:enumeration value="TO" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="codMunic">
                            <xs:simpleType>
                                <xs:annotation>
                                    <xs:documentation>Código do Município</xs:documentation>
                                    <xs:documentation>Validação: Se informado, deve ser um código existente na tabela do IBGE.</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:integer">
                                    <xs:pattern value="\d{7}" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="idVara">
                            <xs:simpleType>
                                <xs:annotation>
                                    <xs:documentation>Código de Identificação da Vara</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:integer">
                                    <xs:pattern value="\d{1,4}" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="infoSusp" minOccurs="0" maxOccurs="99">
                <xs:annotation>
                    <xs:documentation>Informações de suspensão de exigibilidade de tributos</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="codSusp">
                            <xs:simpleType>
                                <xs:annotation>
                                    <xs:documentation>Código do Indicativo da Suspensão</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:integer">
                                    <xs:pattern value="\d{1,14}" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="indSusp">
                            <xs:simpleType>
                                <xs:annotation>
                                    <xs:documentation>Indicativo de suspensão da exigibilidade</xs:documentation>
                                    <xs:documentation>Validação: Se {tpProc} = [1], deve ser preenchido com [03, 14, 92]. Se {tpProc} = [2], deve ser preenchido com [01, 02, 04, 05, 08, 09, 10, 11, 12, 13, 90, 92]. Se {tpProc} = [4], deve ser preenchido com [14]. Valores Válidos: 01, 02, 03, 04, 05, 08, 09, 10, 11, 12, 13, 14, 90, 92.</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="01">
                                        <xs:annotation>
                                            <xs:documentation>Liminar em Mandado de Segurança</xs:documentation>
                                        </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="02">
                                        <xs:annotation>
                                            <xs:documentation>Depósito Judicial do Montante Integral</xs:documentation>
                                        </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="03">
                                        <xs:annotation>
                                            <xs:documentation>Depósito Administrativo do Montante Integral</xs:documentation>
                                        </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="04">
                                        <xs:annotation>
                                            <xs:documentation>Antecipação de Tutela</xs:documentation>
                                        </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="05">
                                        <xs:annotation>
                                            <xs:documentation>Liminar em Medida Cautelar</xs:documentation>
                                        </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="08">
                                        <xs:annotation>
                                            <xs:documentation>Sentença em Mandado de Segurança Favorável ao Contribuinte</xs:documentation>
                                        </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="09">
                                        <xs:annotation>
                                            <xs:documentation>Sentença em Ação Ordinária Favorável ao Contribuinte e Confirmada pelo TRF</xs:documentation>
                                        </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="10">
                                        <xs:annotation>
                                            <xs:documentation>Acórdão do TRF Favorável ao Contribuinte</xs:documentation>
                                        </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="11">
                                        <xs:annotation>
                                            <xs:documentation>Acórdão do STJ em Recurso Especial Favorável ao Contribuinte</xs:documentation>
                                        </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="12">
                                        <xs:annotation>
                                            <xs:documentation>Acórdão do STF em Recurso Extraordinário Favorável ao Contribuinte</xs:documentation>
                                        </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="13">
                                        <xs:annotation>
                                            <xs:documentation>Sentença 1ª instância não transitada em julgado com efeito suspensivo</xs:documentation>
                                        </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="14">
                                        <xs:annotation>
                                            <xs:documentation>Contestação Administrativa FAP</xs:documentation>
                                        </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="90">
                                        <xs:annotation>
                                            <xs:documentation>Decisão Definitiva a favor do contribuinte</xs:documentation>
                                        </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="92">
                                        <xs:annotation>
                                            <xs:documentation>Sem suspensão da exigibilidade</xs:documentation>
                                        </xs:annotation>
                                    </xs:enumeration>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="dtDecisao" type="xs:date">
                            <xs:annotation>
                                <xs:documentation>Data da decisão, sentença ou despacho</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="indDeposito">
                            <xs:simpleType>
                                <xs:annotation>
                                    <xs:documentation>Depósito do Montante Integral</xs:documentation>
                                    <xs:documentation>Validação: Se {indSusp} = [90], preencher obrigatoriamente com [N]. Se {indSusp} = [02, 03] preencher obrigatoriamente com [S].</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="S">
                                        <xs:annotation>
                                            <xs:documentation>Sim</xs:documentation>
                                        </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="N">
                                        <xs:annotation>
                                            <xs:documentation>Não</xs:documentation>
                                        </xs:annotation>
                                    </xs:enumeration>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>