evtTabEstab.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns="http://www.esocial.gov.br/schema/evt/evtTabEstab/v03_00_00" targetNamespace="http://www.esocial.gov.br/schema/evt/evtTabEstab/v03_00_00" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:include schemaLocation="include/ideEvento_evtTab.xsd " />
    <xs:include schemaLocation="include/ideEmpregador_evtTab.xsd" />
    <xs:include schemaLocation="include/periodo_evtTab.xsd" />
    <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd" />
    <xs:element name="eSocial">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="evtTabEstab">
                    <xs:annotation>
                        <xs:documentation>Evento Tabela de Estabelecimentos, Obras ou Órgãos Públicos</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ideEvento" type="T_ideEvento_evtTab">
                                <xs:annotation>
                                    <xs:documentation>Informações de Identificação do Evento</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="ideEmpregador" type="T_ideEmpregador_evtTab">
                                <xs:annotation>
                                    <xs:documentation>Informações de identificação do empregador</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="infoEstab">
                                <xs:annotation>
                                    <xs:documentation>Informações do Estabelecimento ou obra</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:choice>
                                            <xs:element name="inclusao">
                                                <xs:annotation>
                                                    <xs:documentation>Inclusão de novas informações</xs:documentation>
                                                </xs:annotation>
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="ideEstab" type="T_ideEstab">
                                                            <xs:annotation>
                                                                <xs:documentation>Identificação do estabelecimento, obra ou órgão público e validade das informações</xs:documentation>
                                                            </xs:annotation>
                                                        </xs:element>
                                                        <xs:element name="dadosEstab" type="T_dadosEstab">
                                                            <xs:annotation>
                                                                <xs:documentation>Detalhamento das informações do estabelecimento, obra ou órgão público</xs:documentation>
                                                            </xs:annotation>
                                                        </xs:element>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="alteracao">
                                                <xs:annotation>
                                                    <xs:documentation>Alteração das informações</xs:documentation>
                                                </xs:annotation>
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="ideEstab" type="T_ideEstab">
                                                            <xs:annotation>
                                                                <xs:documentation>Identificação do estabelecimento, obra ou órgão público e validade das informações</xs:documentation>
                                                            </xs:annotation>
                                                        </xs:element>
                                                        <xs:element name="dadosEstab" type="T_dadosEstab">
                                                            <xs:annotation>
                                                                <xs:documentation>Detalhamento das informações do estabelecimento, obra ou órgão público</xs:documentation>
                                                            </xs:annotation>
                                                        </xs:element>
                                                        <xs:element name="novaValidade" type="T_periodo_evtTab" minOccurs="0">
                                                            <xs:annotation>
                                                                <xs:documentation>Novo período de validade das informações</xs:documentation>
                                                            </xs:annotation>
                                                        </xs:element>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="exclusao">
                                                <xs:annotation>
                                                    <xs:documentation>Exclusão das informações</xs:documentation>
                                                </xs:annotation>
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="ideEstab" type="T_ideEstab">
                                                            <xs:annotation>
                                                                <xs:documentation>Identificação do estabelecimento, obra ou órgão público</xs:documentation>
                                                            </xs:annotation>
                                                        </xs:element>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:choice>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Id" use="required">
                            <xs:simpleType>
                                <xs:annotation>
                                    <xs:documentation>Identificação única do evento</xs:documentation>
                                    <xs:documentation>REGRA:REGRA_VALIDA_ID_EVENTO</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:ID">
                                    <xs:length value="36" />
                                    <xs:pattern value="ID\d{34}" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element ref="ds:Signature" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="T_ideEstab">
        <xs:annotation>
            <xs:documentation>Identificação do estabelecimento, obra ou órgão público e validade das informações</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="tpInsc">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:documentation>Tipo de Inscrição, conforme Tabela 05</xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:byte">
                        <xs:enumeration value="1">
                            <xs:annotation>
                                <xs:documentation>CNPJ</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="3">
                            <xs:annotation>
                                <xs:documentation>CAEPF</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="4">
                            <xs:annotation>
                                <xs:documentation>CNO</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="nrInsc">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:documentation>Número de Inscrição</xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="\d{12}|\d{14}" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="iniValid">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:documentation>Início da validade (AAAA-MM)</xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[2]{1}\d{3}-(1[0-2]|0[1-9])" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="fimValid" minOccurs="0">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:documentation>Período final da validade, no formato (AAAA-MM)</xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[2]{1}\d{3}-(1[0-2]|0[1-9])" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="T_dadosEstab">
        <xs:annotation>
            <xs:documentation>Detalhamento das informações do estabelecimento/obra</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="cnaePrep">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:documentation>Código do CNAE</xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:integer">
                        <xs:pattern value="\d{7}" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="aliqGilrat" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Informações de Apuração da alíquota Gilrat do Estabelecimento</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="aliqRat" minOccurs="0">
                            <xs:simpleType>
                                <xs:annotation>
                                    <xs:documentation>Alíquota RAT</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:byte">
                                    <xs:enumeration value="1" />
                                    <xs:enumeration value="2" />
                                    <xs:enumeration value="3" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="fap" minOccurs="0">
                            <xs:simpleType>
                                <xs:annotation>
                                    <xs:documentation>FAP</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:decimal">
                                    <xs:totalDigits value="5" />
                                    <xs:fractionDigits value="4" />
                                    <xs:minInclusive value="0.5" />
                                    <xs:maxInclusive value="2" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="procAdmJudRat" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Processo administrativo/judicial relativo à alíquota RAT</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="tpProc">
                                        <xs:simpleType>
                                            <xs:annotation>
                                                <xs:documentation>Tipo de Processo</xs:documentation>
                                            </xs:annotation>
                                            <xs:restriction base="xs:byte">
                                                <xs:enumeration value="1">
                                                    <xs:annotation>
                                                        <xs:documentation>Administrativo</xs:documentation>
                                                    </xs:annotation>
                                                </xs:enumeration>
                                                <xs:enumeration value="2">
                                                    <xs:annotation>
                                                        <xs:documentation>Judicial</xs:documentation>
                                                    </xs:annotation>
                                                </xs:enumeration>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="nrProc">
                                        <xs:simpleType>
                                            <xs:annotation>
                                                <xs:documentation>Número do Processo</xs:documentation>
                                            </xs:annotation>
                                            <xs:restriction base="xs:string">
                                                <xs:pattern value="\d{17}|\d{20}|\d{21}" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="codSusp">
                                        <xs:simpleType>
                                            <xs:annotation>
                                                <xs:documentation>Código do Indicativo da Suspensão</xs:documentation>
                                            </xs:annotation>
                                            <xs:restriction base="xs:integer">
                                                <xs:pattern value="\d{1,14}" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="procAdmJudFap" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Processo administrativo/judicial relativo ao FAP</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="tpProc">
                                        <xs:simpleType>
                                            <xs:annotation>
                                                <xs:documentation>Tipo de Processo</xs:documentation>
                                            </xs:annotation>
                                            <xs:restriction base="xs:byte">
                                                <xs:enumeration value="1">
                                                    <xs:annotation>
                                                        <xs:documentation>Administrativo</xs:documentation>
                                                    </xs:annotation>
                                                </xs:enumeration>
                                                <xs:enumeration value="2">
                                                    <xs:annotation>
                                                        <xs:documentation>Judicial</xs:documentation>
                                                    </xs:annotation>
                                                </xs:enumeration>
                                                <xs:enumeration value="4">
                                                    <xs:annotation>
                                                        <xs:documentation>Processo FAP</xs:documentation>
                                                    </xs:annotation>
                                                </xs:enumeration>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="nrProc">
                                        <xs:simpleType>
                                            <xs:annotation>
                                                <xs:documentation>Número do Processo</xs:documentation>
                                            </xs:annotation>
                                            <xs:restriction base="xs:string">
                                                <xs:pattern value="\d{17}|\d{20}|\d{21}" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="codSusp">
                                        <xs:simpleType>
                                            <xs:annotation>
                                                <xs:documentation>Código do Indicativo da Suspensão</xs:documentation>
                                            </xs:annotation>
                                            <xs:restriction base="xs:integer">
                                                <xs:pattern value="\d{1,14}" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="infoCaepf" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Informações relativas ao CAEPF</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="tpCaepf">
                            <xs:simpleType>
                                <xs:annotation>
                                    <xs:documentation>Tipo de CAEPF</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:byte">
                                    <xs:enumeration value="1">
                                        <xs:annotation>
                                            <xs:documentation>Contribuinte Individual</xs:documentation>
                                        </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="2">
                                        <xs:annotation>
                                            <xs:documentation>Produtor Rural</xs:documentation>
                                        </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="3">
                                        <xs:annotation>
                                            <xs:documentation>Segurado Especial</xs:documentation>
                                        </xs:annotation>
                                    </xs:enumeration>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="infoObra" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Indicativo de substituição da contribuição Patronal - Obra de Construção Civil</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="indSubstPatrObra">
                            <xs:simpleType>
                                <xs:annotation>
                                    <xs:documentation>Substituição da CP patronal de Obra</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:byte">
                                    <xs:enumeration value="1">
                                        <xs:annotation>
                                            <xs:documentation>Contribuição Patronal Substituída</xs:documentation>
                                        </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="2">
                                        <xs:annotation>
                                            <xs:documentation>Contribuição Patronal Não Substituída</xs:documentation>
                                        </xs:annotation>
                                    </xs:enumeration>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="infoTrab" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="infoApr" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Informações relacionadas à contratação de aprendiz</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="nrProcJud">
                                        <xs:simpleType>
                                            <xs:annotation>
                                                <xs:documentation>Identificação do Número do Processo Judicial</xs:documentation>
                                            </xs:annotation>
                                            <xs:restriction base="xs:string">
                                                <xs:pattern value="\d{20}" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="infoEntEduc" minOccurs="0" maxOccurs="99">
                                        <xs:annotation>
                                            <xs:documentation>Identificação da(s) entidade(s) educativa(s) ou de prática desportiva</xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="nrInsc">
                                                    <xs:simpleType>
                                                        <xs:annotation>
                                                            <xs:documentation>Número de Inscrição</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:restriction base="xs:string">
                                                            <xs:pattern value="\d{14}" />
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="infoPCD" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Informações sobre a contratação de pessoa com deficiência (PCD)</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="nrProcJud">
                                        <xs:simpleType>
                                            <xs:annotation>
                                                <xs:documentation>Identificação do Número do Processo Judicial</xs:documentation>
                                            </xs:annotation>
                                            <xs:restriction base="xs:string">
                                                <xs:pattern value="\d{20}" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>