include/novaValidade.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:include schemaLocation="tiposSimples.xsd" />
    <xs:complexType name="T_novaValidade">
        <xs:annotation>
            <xs:documentation>Novo período de validade das informações</xs:documentation>
            <xs:documentation>CONDICAO_GRUPO: OC</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="iniValid" type="TS_iniValid" />
            <xs:element name="fimValid" minOccurs="0" type="TS_fimValid" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>