v_S_01_02_00/evtPgtos.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns="http://www.esocial.gov.br/schema/evt/evtPgtos/v_S_01_02_00" targetNamespace="http://www.esocial.gov.br/schema/evt/evtPgtos/v_S_01_02_00" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:include schemaLocation="tipos.xsd" />
    <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd" />
    <xs:element name="eSocial">
        <xs:annotation>
            <xs:documentation>S-1210 - Pagamentos de Rendimentos do Trabalho</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="evtPgtos">
                    <xs:annotation>
                        <xs:documentation>Evento Pagamentos de Rendimentos do Trabalho.</xs:documentation>
                        <xs:documentation>CHAVE_GRUPO: {Id}</xs:documentation>
                        <xs:documentation>REGRA:REGRA_CONTROLE_DUPLICIDADE</xs:documentation>
                        <xs:documentation>REGRA:REGRA_EMPREGADO_DOMESTICO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_ENVIO_PROC_FECHAMENTO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_EVENTOS_EXTEMP</xs:documentation>
                        <xs:documentation>REGRA:REGRA_EVE_FOPAG_SIMPLIFICADO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_EXISTE_INFO_EMPREGADOR</xs:documentation>
                        <xs:documentation>REGRA:REGRA_MESMO_PROCEMI</xs:documentation>
                        <xs:documentation>REGRA:REGRA_PAGTO_IND_RETIFICACAO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_PAGTO_PERMITE_EXCLUSAO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_VALIDA_DT_PGTO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_VALIDA_EMPREGADOR</xs:documentation>
                        <xs:documentation>REGRA:REGRA_VALIDA_PER_APUR_PGTO</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ideEvento" type="T_ideEvento_folha_mensal" />
                            <xs:element name="ideEmpregador" type="T_ideEmpregador" />
                            <xs:element name="ideBenef">
                                <xs:annotation>
                                    <xs:documentation>Identificação do beneficiário do pagamento.</xs:documentation>
                                    <xs:documentation>CHAVE_GRUPO: {cpfBenef*}</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="cpfBenef" type="TS_cpf">
                                            <xs:annotation>
                                                <xs:documentation>Informar o CPF do beneficiário.</xs:documentation>
                                                <xs:documentation>Validação: Deve ser o mesmo CPF informado no evento de remuneração ou desligamento (S-1200, S-1202, S-1207, S-2299 ou S-2399).</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="infoPgto" maxOccurs="999">
                                            <xs:annotation>
                                                <xs:documentation>Informações dos pagamentos efetuados.</xs:documentation>
                                                <xs:documentation>CHAVE_GRUPO: {tpPgto}, {perRef}, {ideDmDev}</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="dtPgto" type="xs:date">
                                                        <xs:annotation>
                                                            <xs:documentation>Informar a data de pagamento.</xs:documentation>
                                                            <xs:documentation>Validação: A data informada deve estar compreendida no período de apuração ({perApur}(1210_ideEvento_perApur)), exceto se {procEmi}(1210_ideEvento_procEmi) = [2, 4, 22].</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="tpPgto">
                                                        <xs:simpleType>
                                                            <xs:annotation>
                                                                <xs:documentation>Informar o evento de origem do pagamento.</xs:documentation>
                                                            </xs:annotation>
                                                            <xs:restriction base="xs:byte">
                                                                <xs:enumeration value="1">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Pagamento de remuneração, conforme apurado em {ideDmDev}(1200_dmDev_ideDmDev) do S-1200</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:enumeration>
                                                                <xs:enumeration value="2">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Pagamento de verbas rescisórias conforme apurado em {ideDmDev}(2299_infoDeslig_verbasResc_dmDev_ideDmDev) do S-2299</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:enumeration>
                                                                <xs:enumeration value="3">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Pagamento de verbas rescisórias conforme apurado em {ideDmDev}(2399_infoTSVTermino_verbasResc_dmDev_ideDmDev) do S-2399</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:enumeration>
                                                                <xs:enumeration value="4">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Pagamento de remuneração conforme apurado em {ideDmDev}(1202_dmDev_ideDmDev) do S-1202</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:enumeration>
                                                                <xs:enumeration value="5">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Pagamento de benefícios previdenciários, conforme apurado em {ideDmDev}(1207_dmDev_ideDmDev) do S-1207</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:enumeration>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="perRef" type="TS_perApur">
                                                        <xs:annotation>
                                                            <xs:documentation>Informar a competência declarada no campo {perApur} do evento remuneratório a que se refere o pagamento, no formato AAAA-MM (ou AAAA, se for relativa à folha de 13° salário). Se {tpPgto}(1210_ideBenef_infoPgto_tpPgto) = [2, 3], informar o mês/ano da data de desligamento (ou de término), no formato AAAA-MM.</xs:documentation>
                                                            <xs:documentation>Validação: Deve corresponder ao conteúdo indicado na relação a seguir:</xs:documentation>
                                                            <xs:documentation>Se {tpPgto}(1210_ideBenef_infoPgto_tpPgto) = [1], {perApur}(1200_ideEvento_perApur) do S-1200;</xs:documentation>
                                                            <xs:documentation>Se {tpPgto}(1210_ideBenef_infoPgto_tpPgto) = [2], mês/ano de {dtDeslig}(2299_infoDeslig_dtDeslig) do S-2299 (formato AAAA-MM);</xs:documentation>
                                                            <xs:documentation>Se {tpPgto}(1210_ideBenef_infoPgto_tpPgto) = [3], mês/ano de {dtTerm}(2399_infoTSVTermino_dtTerm) do S-2399 (formato AAAA-MM);</xs:documentation>
                                                            <xs:documentation>Se {tpPgto}(1210_ideBenef_infoPgto_tpPgto) = [4], {perApur}(1202_ideEvento_perApur) do S-1202;</xs:documentation>
                                                            <xs:documentation>Se {tpPgto}(1210_ideBenef_infoPgto_tpPgto) = [5], {perApur}(1207_ideEvento_perApur) do S-1207.</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="ideDmDev" type="TS_codigo_esocial">
                                                        <xs:annotation>
                                                            <xs:documentation>Identificador atribuído pela fonte pagadora para o demonstrativo de valores devidos ao trabalhador conforme definido em S-1200, S-1202, S-1207, S-2299 ou S-2399.</xs:documentation>
                                                            <xs:documentation>Validação: Deve ser um valor atribuído pela fonte pagadora em S-1200, S-1202, S-1207, S-2299 ou S-2399 no campo {ideDmDev}, obedecendo à relação:</xs:documentation>
                                                            <xs:documentation>Se {tpPgto}(1210_ideBenef_infoPgto_tpPgto) = [1], em S-1200;</xs:documentation>
                                                            <xs:documentation>Se {tpPgto}(1210_ideBenef_infoPgto_tpPgto) = [2], em S-2299;</xs:documentation>
                                                            <xs:documentation>Se {tpPgto}(1210_ideBenef_infoPgto_tpPgto) = [3], em S-2399;</xs:documentation>
                                                            <xs:documentation>Se {tpPgto}(1210_ideBenef_infoPgto_tpPgto) = [4], em S-1202;</xs:documentation>
                                                            <xs:documentation>Se {tpPgto}(1210_ideBenef_infoPgto_tpPgto) = [5], em S-1207.</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="vrLiq" type="TS_valorMonetario">
                                                        <xs:annotation>
                                                            <xs:documentation>Valor líquido recebido pelo trabalhador, composto pelos vencimentos e descontos, inclusive os descontos de IRRF e de pensão alimentícia (se houver).</xs:documentation>
                                                            <xs:documentation>Validação: Não pode ser um valor negativo.</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="paisResidExt" minOccurs="0" type="TS_pais">
                                                        <xs:annotation>
                                                            <xs:documentation>Informar o código do país de residência para fins fiscais, quando no exterior, conforme Tabela 06.</xs:documentation>
                                                            <xs:documentation>Somente informar este campo caso o país de residência para fins fiscais seja diferente de Brasil. Se não informado, implica que o país de residência fiscal é Brasil.</xs:documentation>
                                                            <xs:documentation>Validação: O campo apenas pode ser preenchido se {perApur}(1210_ideEvento_perApur) >= [2023-03]. Se informado, deve ser um código válido e existente na Tabela 06, exceto [105].</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="infoPgtoExt" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>Informações complementares relativas a pagamentos a residente fiscal no exterior.</xs:documentation>
                                                            <xs:documentation>CONDICAO_GRUPO: O (se {paisResidExt}(../paisResidExt) for informado); N (nos demais casos)</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="indNIF">
                                                                    <xs:simpleType>
                                                                        <xs:annotation>
                                                                            <xs:documentation>Indicativo do Número de Identificação Fiscal (NIF).</xs:documentation>
                                                                        </xs:annotation>
                                                                        <xs:restriction base="xs:byte">
                                                                            <xs:enumeration value="1">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Beneficiário com NIF</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>
                                                                            <xs:enumeration value="2">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Beneficiário dispensado do NIF</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>
                                                                            <xs:enumeration value="3">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>País não exige NIF</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="nifBenef" minOccurs="0" type="TS_codigo_esocial">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Número de Identificação Fiscal (NIF).</xs:documentation>
                                                                        <xs:documentation>Validação: Preenchimento obrigatório se {indNIF}(./indNIF) = [1].</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="frmTribut">
                                                                    <xs:simpleType>
                                                                        <xs:annotation>
                                                                            <xs:documentation>Forma de tributação, conforme opções disponíveis na Tabela 30.</xs:documentation>
                                                                            <xs:documentation>Validação: Deve ser um código válido e existente na Tabela 30.</xs:documentation>
                                                                        </xs:annotation>
                                                                        <xs:restriction base="xs:string">
                                                                            <xs:pattern value="\d{2}" />
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="endExt" minOccurs="0">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Endereço do beneficiário residente ou domiciliado no exterior.</xs:documentation>
                                                                        <xs:documentation>CONDICAO_GRUPO: OC</xs:documentation>
                                                                        <xs:documentation>REGRA:REGRA_ENDERECO_EXTERIOR</xs:documentation>
                                                                    </xs:annotation>
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="endDscLograd" minOccurs="0">
                                                                                <xs:simpleType>
                                                                                    <xs:annotation>
                                                                                        <xs:documentation>Descrição do logradouro.</xs:documentation>
                                                                                    </xs:annotation>
                                                                                    <xs:restriction base="xs:string">
                                                                                        <xs:minLength value="1" />
                                                                                        <xs:maxLength value="80" />
                                                                                        <xs:pattern value="[^\s]{1}[\S\s]*" />
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element name="endNrLograd" minOccurs="0" type="TS_nrLograd">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Número do logradouro.</xs:documentation>
                                                                                    <xs:documentation>Validação: Devem ser utilizados apenas caracteres alfanuméricos com, pelo menos, um caractere numérico.</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:element>
                                                                            <xs:element name="endComplem" minOccurs="0" type="TS_complemento" />
                                                                            <xs:element name="endBairro" minOccurs="0">
                                                                                <xs:simpleType>
                                                                                    <xs:annotation>
                                                                                        <xs:documentation>Nome do bairro/distrito.</xs:documentation>
                                                                                    </xs:annotation>
                                                                                    <xs:restriction base="xs:string">
                                                                                        <xs:minLength value="1" />
                                                                                        <xs:maxLength value="60" />
                                                                                        <xs:pattern value=".*[^\s].*" />
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element name="endCidade" minOccurs="0">
                                                                                <xs:simpleType>
                                                                                    <xs:annotation>
                                                                                        <xs:documentation>Nome da cidade.</xs:documentation>
                                                                                    </xs:annotation>
                                                                                    <xs:restriction base="xs:string">
                                                                                        <xs:minLength value="1" />
                                                                                        <xs:maxLength value="40" />
                                                                                        <xs:pattern value=".*[^\s].*" />
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element name="endEstado" minOccurs="0">
                                                                                <xs:simpleType>
                                                                                    <xs:annotation>
                                                                                        <xs:documentation>Nome da província/estado.</xs:documentation>
                                                                                    </xs:annotation>
                                                                                    <xs:restriction base="xs:string">
                                                                                        <xs:minLength value="1" />
                                                                                        <xs:maxLength value="40" />
                                                                                        <xs:pattern value=".*[^\s].*" />
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element name="endCodPostal" minOccurs="0">
                                                                                <xs:simpleType>
                                                                                    <xs:annotation>
                                                                                        <xs:documentation>Código de Endereçamento Postal.</xs:documentation>
                                                                                        <xs:documentation>Validação: Devem ser informados apenas caracteres numéricos.</xs:documentation>
                                                                                    </xs:annotation>
                                                                                    <xs:restriction base="xs:string">
                                                                                        <xs:pattern value="\d{1,12}" />
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element name="telef" minOccurs="0">
                                                                                <xs:simpleType>
                                                                                    <xs:annotation>
                                                                                        <xs:documentation>Número do telefone.</xs:documentation>
                                                                                        <xs:documentation>Validação: Devem ser informados apenas caracteres numéricos.</xs:documentation>
                                                                                    </xs:annotation>
                                                                                    <xs:restriction base="xs:string">
                                                                                        <xs:pattern value="\d{8,15}" />
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="infoIRComplem" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation>Informações relacionadas à retenção na fonte, aos rendimentos tributáveis e não tributáveis, deduções e/ou isenções, etc. - de acordo com a legislação aplicada ao imposto de renda.</xs:documentation>  
                                                <xs:documentation>CONDICAO_GRUPO: OC</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="dtLaudo" type="xs:date" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>Data da moléstia grave atribuída pelo laudo.</xs:documentation>
                                                            <xs:documentation>Validação: Não pode ser anterior ao ano de 1900.</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="infoDep" minOccurs="0" maxOccurs="999">
                                                        <xs:annotation>
                                                            <xs:documentation>Informações de dependentes não cadastrados pelo S-2200/S-2205/S-2300.</xs:documentation>
                                                            <xs:documentation>CHAVE_GRUPO: {cpfDep}</xs:documentation>
                                                            <xs:documentation>CONDICAO_GRUPO: OC</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="cpfDep" type="TS_cpfDepIR" />
                                                                <xs:element name="dtNascto" type="TS_dtNascto" minOccurs="0" />
                                                                <xs:element name="nome" type="TS_nmDep" minOccurs="0" />
                                                                <xs:element name="depIRRF" type="TS_depIRRF_IR" minOccurs="0" />
                                                                <xs:element name="tpDep" type="TS_tpDep" minOccurs="0" />
                                                                <xs:element name="descrDep " type="TS_descrDep" minOccurs="0" />
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="dedDepen" minOccurs="0" maxOccurs="999">
                                                        <xs:annotation>
                                                            <xs:documentation>Dedução do rendimento tributável relativa a dependentes.</xs:documentation>  
                                                            <xs:documentation>CHAVE_GRUPO: {tpRend}, {cpfDep}</xs:documentation> 
                                                            <xs:documentation>CONDICAO_GRUPO: OC</xs:documentation> 
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="tpRend" type="TS_tpRendDep" />
                                                                <xs:element name="cpfDep" type="TS_cpfDepIR2" />
                                                                <xs:element name="vlrDedDep" type="TS_vlrDedDep" />
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="penAlim" minOccurs="0" maxOccurs="99">
                                                        <xs:annotation>
                                                            <xs:documentation>Informação dos beneficiários da pensão alimentícia.</xs:documentation>
                                                            <xs:documentation>CHAVE_GRUPO: {tpRend}, {cpfDep}</xs:documentation>   
                                                            <xs:documentation>CONDICAO_GRUPO: OC</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="tpRend" type="TS_tpRendPenAlim" />
                                                                <xs:element name="cpfDep" type="TS_cpfPenAlim" />
                                                                <xs:element name="vlrDedPenAlim" type="TS_vlrDedPenAlim" />
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="previdCompl" minOccurs="0" maxOccurs="99">
                                                        <xs:annotation>
                                                            <xs:documentation>Informações relativas a planos de previdência complementar.</xs:documentation>
                                                            <xs:documentation>CHAVE_GRUPO: {tpPrev}, {cnpjEntidPC}</xs:documentation>
                                                            <xs:documentation>CONDICAO_GRUPO: OC</xs:documentation>  
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="tpPrev">
                                                                    <xs:simpleType>
                                                                        <xs:annotation>
                                                                            <xs:documentation>Tipo de previdência.</xs:documentation>
                                                                        </xs:annotation>
                                                                        <xs:restriction base="xs:byte">
                                                                            <xs:enumeration value="1">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Privada: {codIncIRRF}(1010_infoRubrica_inclusao_dadosRubrica_codIncIRRF) em S-1010 = [46, 47, 48]</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>
                                                                            <xs:enumeration value="2">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>FAPI: {codIncIRRF}(1010_infoRubrica_inclusao_dadosRubrica_codIncIRRF) em S-1010 = [61, 62, 66]</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>
                                                                            <xs:enumeration value="3">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Funpresp: {codIncIRRF}(1010_infoRubrica_inclusao_dadosRubrica_codIncIRRF) em S-1010 = [63, 64, 65]</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="cnpjEntidPC" type="TS_cnpj">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Número de inscrição da entidade de previdência complementar.</xs:documentation>
                                                                        <xs:documentation>Validação: Deve ser um CNPJ válido no Cadastro CNPJ e não pode estar com situação cadastral "baixada" (situação = 8) em data anterior ao período de apuração indicado em {perApur}(1210_ideEvento_perApur) ou "nula" (situação = 1).</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="vlrDedPC" type="TS_valorMonetario_positivo">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Valor da dedução relativa a previdência complementar.</xs:documentation>
                                                                        <xs:documentation>Validação: Deve ser maior que 0 (zero).</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="vlrPatrocFunp" type="TS_valorMonetario" minOccurs="0">
                                                                   <xs:annotation>
                                                                        <xs:documentation>Valor da contribuição do ente público patrocinador da Fundação de Previdência Complementar do Servidor Público (Funpresp).</xs:documentation>
                                                                        <xs:documentation>Validação: Informação permitida apenas se {tpPrev}(./tpPrev) = [3].</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="infoProcRet" minOccurs="0" maxOccurs="50">
                                                        <xs:annotation>
                                                            <xs:documentation>Informações de processos relacionados a não retenção de tributos ou a depósitos judiciais.</xs:documentation>
                                                            <xs:documentation>CHAVE_GRUPO: {CR}, {tpProcRet}, {nrProcRet}, {codSusp}</xs:documentation>
                                                            <xs:documentation>CONDICAO_GRUPO: OC</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="CR">
                                                                    <xs:simpleType>
                                                                        <xs:annotation>
                                                                            <xs:documentation>Código de Receita - CR relativo ao Imposto de Renda Retido na Fonte sobre rendimentos do trabalho.</xs:documentation>
                                                                        </xs:annotation>
                                                                        <xs:restriction base="xs:string">
                                                                            <xs:enumeration value="056107">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>IRRF mensal, 13° salário e férias sobre trabalho assalariado no país ou ausente no exterior a serviço do país, exceto se contratado por empregador doméstico ou por segurado especial sujeito a recolhimento unificado</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>
                                                                            <xs:enumeration value="056108">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>IRRF mensal e férias - Empregado doméstico</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>
                                                                            <xs:enumeration value="056109">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>IRRF 13° salário na rescisão de contrato de trabalho - Empregado doméstico</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>
                                                                            <xs:enumeration value="056110">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>IRRF - Empregado doméstico 13º salário</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>
                                                                            <xs:enumeration value="056111">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>IRRF - Empregado/Trabalhador rural - Segurado especial</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>
                                                                            <xs:enumeration value="056112">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>IRRF - Empregado/Trabalhador rural - Segurado especial 13° salário</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>
                                                                            <xs:enumeration value="056113">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>IRRF - Empregado/Trabalhador rural - Segurado especial 13° salário rescisório</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>
                                                                            <xs:enumeration value="058806">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>IRRF sobre rendimento do trabalho sem vínculo empregatício</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>
                                                                            <xs:enumeration value="061001">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>IRRF sobre rendimentos relativos a prestação de serviços de transporte rodoviário internacional de carga, pagos a transportador autônomo PF residente no Paraguai</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>
                                                                            <xs:enumeration value="353301">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Proventos de aposentadoria, reserva, reforma ou pensão pagos por previdência pública</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>
                                                                            <xs:enumeration value="356201">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>IRRF sobre participação dos trabalhadores em lucros ou resultados - PLR</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>                                                    
                                                                            <xs:enumeration value="188901">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Rendimentos Recebidos Acumuladamente - RRA</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>
                                                                            <xs:enumeration value="047301">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>IRRF - Residentes no exterior, para fins fiscais</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:enumeration>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>   
                                                                <xs:element name="tpProcRet" type="TS_tpProc_1_2" />
                                                                <xs:element name="nrProcRet" type="TS_nrProcRet" />
                                                                <xs:element name="codSusp" type="TS_codSuspIR" />
                                                                <xs:element name="vlrNRetido" type="TS_vlrNRetido" minOccurs="0" />
                                                                <xs:element name="vlrDepJud" type="TS_vlrDepJud" minOccurs="0" />
                                                                <xs:element name="vlrCmpAnoCal" type="TS_vlrCmpAnoCal" minOccurs="0" />
                                                                <xs:element name="vlrCmpAnoAnt" type="TS_vlrCmpAnoAnt" minOccurs="0" />
                                                                <xs:element name="vlrRendSusp" type="TS_vlrRendSusp" minOccurs="0" />
                                                                <xs:element name="dedSusp" minOccurs="0" maxOccurs="25">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Detalhamento das deduções com exigibilidade suspensa.</xs:documentation>
                                                                        <xs:documentation>CONDICAO_GRUPO: OC</xs:documentation>
                                                                    </xs:annotation>
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="indTpDeducao" type="TS_indTpDeducao" />
                                                                            <xs:element name="vlrDedSusp" type="TS_valorMonetario_positivo" minOccurs="0">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Valor da dedução da base de cálculo do imposto de renda com exigibilidade suspensa.</xs:documentation>
                                                                                    <xs:documentation>Validação: Se {indTpDeducao}(./indTpDeducao) = [5, 7], e o grupo {benefPen}(./benefPen) for preenchido, o valor informado neste campo deve ser a soma do(s) campo(s) {vlrDepenSusp}(./benefPen_vlrDepenSusp) do grupo {benefPen}(./benefPen).</xs:documentation>
                                                                                    <xs:documentation>Deve ser maior que 0 (zero).</xs:documentation>
                                                                                    <xs:documentation>O não preenchimento do grupo {benefPen}(./benefPen) indica que o contribuinte declarante não possui as informações detalhadas por dependente/alimentando.</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:element>
                                                                            <xs:element name="benefPen" minOccurs="0" maxOccurs="99">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Informação das deduções suspensas por dependentes e beneficiários da pensão alimentícia.</xs:documentation>
                                                                                    <xs:documentation>CONDICAO_GRUPO: O (se {indTpDeducao}(../indTpDeducao) = [5, 7]); N (nos demais casos)</xs:documentation>
                                                                                </xs:annotation>
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element name="cpfDep" type="TS_cpfDepIR2" />
                                                                                        <xs:element name="vlrDepenSusp" type="TS_valorMonetario_positivo">
                                                                                            <xs:annotation>
                                                                                                <xs:documentation>Valor da dedução relativa a dependentes ou a pensão alimentícia com exigibilidade suspensa.</xs:documentation>
                                                                                                <xs:documentation>Validação: Deve ser maior que 0 (zero).</xs:documentation>
                                                                                            </xs:annotation>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="planSaude" minOccurs="0" maxOccurs="99">
                                                        <xs:annotation>
                                                            <xs:documentation>Plano de saúde coletivo</xs:documentation>
                                                            <xs:documentation>DESCRICAO_COMPLETA: Plano de saúde coletivo.</xs:documentation>
                                                            <xs:documentation>Identificação da(s) operadora(s) de plano privado coletivo empresarial de assistência à saúde.</xs:documentation>
                                                            <xs:documentation>CHAVE_GRUPO: {cnpjOper}</xs:documentation>
                                                            <xs:documentation>CONDICAO_GRUPO: OC</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="cnpjOper" type="TS_cnpj">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Informar o número do CNPJ da operadora de plano privado coletivo empresarial de assistência à saúde.</xs:documentation>
                                                                        <xs:documentation>Validação: Deve ser um CNPJ válido no Cadastro CNPJ e não pode estar com situação cadastral "baixada" (situação = 8) em data anterior ao período de apuração indicado em {perApur}(1210_ideEvento_perApur) ou "nula" (situação = 1).</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="regANS" type="TS_regANS" minOccurs="0" />
                                                                <xs:element name="vlrSaudeTit" type="TS_valorMonetario">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Valor relativo à dedução do rendimento tributável correspondente a pagamento a plano de saúde do titular.</xs:documentation>
                                                                        <xs:documentation>Validação: Deve ser maior ou igual a 0 (zero).</xs:documentation>
                                                                        <xs:documentation>Se for igual a 0 (zero), deve haver informações em registro(s) filho(s), relativas a dependentes {infoDepSau}(./infoDepSau) ou reembolso {infoReembMed}(./infoReembMed).</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="infoDepSau" minOccurs="0" maxOccurs="99">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Informações de dependente de plano de saúde coletivo empresarial.</xs:documentation>
                                                                        <xs:documentation>CHAVE_GRUPO: {cpfDep}</xs:documentation>
                                                                        <xs:documentation>CONDICAO_GRUPO: OC</xs:documentation>
                                                                    </xs:annotation>
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="cpfDep" type="TS_cpfDepIR2">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Número de inscrição no CPF do dependente do plano de saúde.</xs:documentation>
                                                                                    <xs:documentation>Validação: Deve ser um CPF de dependente cadastrado no eSocial (S-2200/S-2205/S-2300 ou no grupo {infoDep}(1210_ideBenef_infoIRComplem_infoDep)).</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:element>
                                                                            <xs:element name="vlrSaudeDep" type="TS_valorMonetario">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Valor relativo a dedução do rendimento tributável correspondente a pagamento a plano de saúde do dependente.</xs:documentation>
                                                                                    <xs:documentation>Validação: Deve ser maior ou igual a 0 (zero).</xs:documentation>
                                                                                    <xs:documentation>Se for igual a 0 (zero), deve haver informações de reembolso do dependente em {infoReembMed}(../infoReembMed).</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="infoReembMed" minOccurs="0" maxOccurs="99">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Reembolsos de despesas médicas</xs:documentation>
                                                                        <xs:documentation>DESCRICAO_COMPLETA: Informações relativas a reembolsos efetuados no período de apuração ({perApur}(1210_ideEvento_perApur)) pelo empregador ao trabalhador referente a despesas médicas ou odontológicas pagas pelo trabalhador a prestadores de serviços de saúde.</xs:documentation>
                                                                        <xs:documentation>CONDICAO_GRUPO: OC</xs:documentation>
                                                                    </xs:annotation>
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="indOrgReemb" type="TS_indOrgReemb" />
                                                                            <xs:element name="cnpjOper" type="TS_cnpj" minOccurs="0">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>CNPJ da operadora do plano de saúde.</xs:documentation>
                                                                                    <xs:documentation>Validação: Informação obrigatória e exclusiva se {indOrgReemb}(./indOrgReemb) = [1].</xs:documentation>
                                                                                    <xs:documentation>Deve ser um CNPJ válido.</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:element>
                                                                            <xs:element name="regANS" type="TS_regANS" minOccurs="0" />
                                                                            <xs:element name="detReembTit" type="T_detReemb" minOccurs="0" maxOccurs="99">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Informação de reembolso do titular do plano de saúde coletivo empresarial.</xs:documentation>
                                                                                    <xs:documentation>CHAVE_GRUPO: {tpInsc}, {nrInsc}</xs:documentation>
                                                                                    <xs:documentation>CONDICAO_GRUPO: OC</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:element>
                                                                            <xs:element name="infoReembDep" minOccurs="0" maxOccurs="99">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Informação de reembolso do dependente do plano de saúde coletivo empresarial.</xs:documentation>
                                                                                    <xs:documentation>CONDICAO_GRUPO: OC</xs:documentation>
                                                                                </xs:annotation>
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element name="cpfBenef" type="TS_cpfDepIR2">
                                                                                            <xs:annotation>
                                                                                                <xs:documentation>Número de inscrição no CPF do dependente.</xs:documentation>
                                                                                                <xs:documentation>Validação: Deve ser um CPF de dependente cadastrado no eSocial (S-2200/S-2205/S-2300 ou no grupo {infoDep}(1210_ideBenef_infoIRComplem_infoDep)).</xs:documentation>
                                                                                            </xs:annotation>
                                                                                        </xs:element>
                                                                                        <xs:element name="detReembDep" type="T_detReemb" minOccurs="0" maxOccurs="99">
                                                                                            <xs:annotation>
                                                                                                <xs:documentation>Detalhamento dos reembolsos efetuados aos dependentes</xs:documentation>
                                                                                                <xs:documentation>DESCRICAO_COMPLETA: Detalhamento dos reembolsos efetuados em {perApur}(1210_ideEvento_perApur) pelo empregador ao trabalhador referente a despesas médicas ou odontológicas pagas pelo trabalhador a prestadores de serviços de saúde relativo a despesas de seus dependentes.</xs:documentation>
                                                                                                <xs:documentation>CHAVE_GRUPO: {tpInsc}, {nrInsc}</xs:documentation>
                                                                                                <xs:documentation>CONDICAO_GRUPO: OC</xs:documentation>
                                                                                            </xs:annotation>
                                                                                        </xs:element>
                                                                                </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element> 
                                                            </xs:sequence>
                                                        </xs:complexType>    
                                                    </xs:element>
                                                    <xs:element name="infoProcJud" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>Informações de processo judicial</xs:documentation>
                                                            <xs:documentation>DESCRICAO_COMPLETA: Informações complementares - Demais rendimentos decorrentes de decisão judicial não informada como RRA.</xs:documentation>
                                                            <xs:documentation>CONDICAO_GRUPO: OC</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="nrProc" type="TS_nrProcIR">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Informar o número do processo judicial.</xs:documentation>
                                                                        <xs:documentation>Validação: O número informado deve obedecer às seguintes regras:</xs:documentation>
                                                                        <xs:documentation>a) Não pode conter caracteres diferentes de [A...Z] e [0...9];</xs:documentation>
                                                                        <xs:documentation>b) Não pode conter mais caracteres alfabéticos do que numéricos;</xs:documentation>
                                                                        <xs:documentation>c) Não pode conter somente caracteres alfabéticos.</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="indOrigRec" type="TS_indOrigRec" />
                                                                <xs:element name="cnpjOrigRecurso" type="TS_cnpj" minOccurs="0">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Preencher com o CNPJ da empresa que repassou os recursos.</xs:documentation>
                                                                        <xs:documentation>Validação: Informação obrigatória e exclusiva se {indOrigRec}(./indOrigRec) = [2].</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="desc" minOccurs="0">
                                                                    <xs:simpleType>
                                                                        <xs:annotation>
                                                                            <xs:documentation>Descrição.</xs:documentation>
                                                                        </xs:annotation>
                                                                        <xs:restriction base="xs:string">
                                                                            <xs:minLength value="1" />
                                                                            <xs:maxLength value="50" />
                                                                            <xs:pattern value=".*[^\s].*" />
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="despProcJud" minOccurs="0">
                                                                    <xs:complexType>
                                                                        <xs:annotation>
                                                                            <xs:documentation>Despesas com processo judicial</xs:documentation>
                                                                            <xs:documentation>DESCRICAO_COMPLETA:Detalhamento das despesas com processo judicial.</xs:documentation>
                                                                            <xs:documentation>CONDICAO_GRUPO: OC</xs:documentation>
                                                                        </xs:annotation>
                                                                        <xs:sequence>
                                                                            <xs:element name="vlrDespCustas" type="TS_valorMonetario">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Preencher com o valor das despesas com custas judiciais.</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:element>
                                                                            <xs:element name="vlrDespAdvogados" type="TS_valorMonetario">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Preencher com o valor total das despesas com advogado(s).</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:element>
                                                                            <xs:element name="ideAdv" minOccurs="0" maxOccurs="99">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Identificação dos advogados.</xs:documentation>
                                                                                    <xs:documentation>CHAVE_GRUPO: {tpInscAdv}, {nrInscAdv}</xs:documentation>
                                                                                    <xs:documentation>CONDICAO_GRUPO: OC</xs:documentation>
                                                                                </xs:annotation>
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element name="tpInscAdv" type="TS_tpInsc_1_2">
                                                                                            <xs:annotation>
                                                                                                <xs:documentation>Tipo de inscrição do advogado.</xs:documentation>
                                                                                            </xs:annotation>
                                                                                        </xs:element>
                                                                                        <xs:element name="nrInscAdv" type="TS_nrInsc_11_14">
                                                                                            <xs:annotation>
                                                                                                <xs:documentation>Informar o número de inscrição do advogado.</xs:documentation>
                                                                                                <xs:documentation>Validação: Deve ser um CNPJ ou CPF válido, de acordo com o tipo de inscrição indicado em {tpInscAdv}(./tpInscAdv).</xs:documentation>
                                                                                                <xs:documentation>Não pode ser igual ao número de inscrição do declarante.</xs:documentation>
                                                                                            </xs:annotation>
                                                                                        </xs:element>
                                                                                        <xs:element name="vlrAdv" minOccurs="0" type="TS_valorMonetario">
                                                                                            <xs:annotation>
                                                                                                <xs:documentation>Valor da despesa com o advogado, se houver.</xs:documentation>
                                                                                            </xs:annotation>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Id" use="required" type="TS_Id" />
                    </xs:complexType>
                </xs:element>
                <xs:element ref="ds:Signature" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>